<div class="contenedor">
    <mat-card>
      <mat-card-title class="encabezado">
  
        <div class="encabezado">
          CONSULTA DE RESERVAS
        </div>
      </mat-card-title>
      <mat-card-content class="row contenido">
      <div class="card-body text-center">
      
        <p-table #dtReservas [columns]="columnas" [value]="reservas" [responsive]="true" [paginator]="true" [rows]="10" 
          [globalFilterFields]="['fkLaboratorio.nombre','fkPersonaReserva.nombreCompleto']"  >
  
          <ng-template pTemplate="caption" class="cabecera">
            <div class="row">
              <div class="input-group col-lg-8">
                
              </div>
              <div class="input-group col-lg-4">
                <input type="text" class="form-control" placeholder="Buscar..."
                  (input)="dtReservas.filterGlobal($event.target.value, 'contains')"  >
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                </div>
              </div>
             </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
             
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field"> 
                <input *ngSwitchCase="'fkPersonaReserva.nombreCompleto'"  pInputText type="text" (input)="dtReservas.filter($event.target.value, 'fkPersonaReserva.nombreCompleto', 'contains')" placeholder=" Buscar por Nombre" class="ui-column-filter-custom w-100">
                <input *ngSwitchCase="'fkLaboratorio.nombre'"  pInputText type="text" (input)="dtReservas.filter($event.target.value, 'fkLaboratorio.nombre', 'contains')" placeholder=" Buscar por Laboratorio" class="ui-column-filter-custom w-100" >
                </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reserva>
            <tr>
              <td>{{reserva.fkPersonaReserva.nombreCompleto}}</td>
              <td>{{reserva.fkLaboratorio.nombre}}</td>
              <td>{{reserva.subject}}</td>
              <td>{{reserva.fechaInicio | date: 'dd/MM/yyyy hh:mm'}}</td>
              <td>{{reserva.fechaFin | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align:left">No se han encontrado reservas.</td>
            </tr>
        </ng-template>
        </p-table>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
  
  