<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE SOFTWARE
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
    <div class="card-body text-center">
      <div class="margenBoton">
        <button mat-stroked-button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarPersona"
          class="btn-crear">
          <i class="pi pi-plus-circle"></i>
          Nuevo registro</button>
      </div>
      <p-table #dt [columns]="columnas" [value]="software" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre','version']">

        <ng-template pTemplate="caption">
          <div class="text-right row">
            <div class="input-group col-lg-8">

            </div>
            <div class="input-group col-lg-4">
              <input type="text" class="form-control" placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columnas">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-software>
          <tr>

            <td>{{software.nombre}}</td>
            <td>{{software.version}}</td>
            <td>{{software.estado}}</td>

            <td>
           
                <button mat-stroked-button (click)="abrirModalEditar(software)" data-toggle="modal" data-target="#editarPersona"
                  class=" btn-edit" pTooltip="Editar datos de software" tooltipPosition="top">
                  <mat-icon>edit</mat-icon></button>
            
            </td>
            <td>
              <mat-slide-toggle [checked]="software.estado=='ACTIVO'" (click)="desactivarSoftware(software)">
              </mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
</div>



<div class="modal" id="editarPersona">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form #myForm="ngForm" [formGroup]="formCrearSoftware">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre software">
            <mat-error *ngIf="formCrearSoftware.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Versión:</mat-label>
            <input formControlName="version" matInput placeholder="Versión">
            <mat-error *ngIf="formCrearSoftware.controls['version'].hasError('required')">
              La versión no puede ser vacía.
            </mat-error>
         
          </mat-form-field>


        </form>

      </div>


      <div class="modal-footer">
        <button (click)="guardarSoftware()" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>


