

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.modalEditar{
    height: 70vh;
    width: 50vw;
}

.dialog-header{
    font-size: 1rem;
}

.input-buscar{
    width: 80%;max-width: 300px;
}

/* .card-body{
    background: rgb(48,48,124);
    background: linear-gradient(90deg, rgba(48,48,124,0.2) 0%, rgba(0,173,208,0.2) 50%, rgba(48,48,124,0.2) 100%);
} */

.btn-crear{
    margin-bottom: 1rem;
}
body .ui-table .ui-table-caption {
    border-bottom: 0 none;
    font-weight: 700;
    border-radius: 10px;
}
p-table{
    border-radius: 10px;
}
.tabla::ng-deep {
    border-bottom: 0 none;
    border-radius: 10px!important;
 }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        bb
 .cabecera::ng-deep{
    border-radius: 10px!important;
 }

 .input-buscar{
    width: 80%;max-width: 300px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              bb
.cabecera::ng-deep{
   border-radius: 10px!important;
}