<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE PERSONAL
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
      <div class="card-body text-center">
        <div>
        <button mat-stroked-button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarPersona"
          class=" btn-crear">
          <i class="pi pi-plus-circle"></i>
          Registra personal</button>
        </div>
       
        <br>
        <p-table #my class="tabla" #dt [columns]="columnas" [value]="personas" [responsive]="true" [paginator]="true" [sortField]="'nombreCompleto'"
          [rows]="10" [globalFilterFields]="['nombreCompleto', 'correo', 'fkTipoPersona.nombre']">

          <ng-template class="cabecera" pTemplate="caption">
            <div class="row">
              <div class="input-group col-lg-8">

              </div>
              <div class="input-group col-lg-4">
                <input type="text" class="form-control" placeholder="Buscar..."
                  (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                </div>
              </div>
            </div>

          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
             
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field"> 
                <input *ngSwitchCase="'nombreCompleto'"  pInputText type="text" (input)="dt.filter($event.target.value, 'nombreCompleto', 'contains')" placeholder=" Buscar por Nombre" class="ui-column-filter-custom" style="width: 100%;">
                <input *ngSwitchCase="'correo'"  pInputText type="text" (input)="dt.filter($event.target.value, 'correo', 'contains')" placeholder=" Buscar por Correo" class="ui-column-filter-custom" style="width: 100%;">
                <input *ngSwitchCase="'fkTipoPersona.nombre'"  pInputText type="text" (input)="dt.filter($event.target.value, 'fkTipoPersona.nombre', 'contains')" placeholder=" Buscar por Rol" class="ui-column-filter-custom" style="width: 100%;">
                 </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-persona>
            <tr>

              <td>{{persona.nombreCompleto}}</td>
              <td>{{persona.correo}}</td>
              <td>{{persona.fkTipoPersona.nombre}}</td>
              <td>{{persona.estado}}</td>
              <td>


                <div>
                  <button mat-stroked-button (click)="abrirModalEditar(persona)" data-toggle="modal" data-target="#editarPersona"
                    class="btn-edit" pTooltip="Editar datos de persona" tooltipPosition="top">
                    <mat-icon>edit</mat-icon></button>
                </div>

              </td>
              <td>
                <mat-slide-toggle [checked]="persona.estado=='ACTIVO'" (click)="desactivarPersona(persona)">
                </mat-slide-toggle>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align:left">No se han encontrado personas.</td>
            </tr>
        </ng-template>
        </p-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="modal" id="editarPersona">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="myForm.reset()" [formGroup]="formCrearPersona">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input formControlName="nombreCompleto" matInput placeholder="Nombre completo">
            <mat-error *ngIf="formCrearPersona.controls['nombreCompleto'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Correo:</mat-label>
            <input formControlName="correo" matInput placeholder="Correo">
            <mat-error *ngIf="formCrearPersona.controls['correo'].hasError('required')">
              El correo no puede ser vacío.
            </mat-error>
            <mat-error *ngIf="formCrearPersona.controls['correo'].hasError('pattern')">
              Ingrese un correo válido.
            </mat-error>
          </mat-form-field>
          <div class="example-full-width">
            <p-dropdown formControlName="tipoPersona" [options]="auxListaTiposPersona" [filter]="true"></p-dropdown>
            
          </div>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button [disabled]="!formCrearPersona.valid" (click)="guardarPersona()" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>