"<div _ngcontent-atf-c3="" id="recurrenceeditor" class="e-control e-recurrenceeditor e-lib" style="display: block;">
    <div class="e-editor">
        <div class="e-input-wrapper e-form-left">
            <div class="e-float-input e-control-wrapper e-input-group e-ddl e-lib e-keyboard e-valid-input" tabindex="0"
                aria-disabled="false" aria-owns="ej2_dropdownlist_9_options" role="listbox" aria-haspopup="true"
                aria-expanded="false" aria-activedescendant="null" aria-labelledby="ej2_dropdownlist_9_hidden"
                label="repeat-element" aria-describedby="ej2_dropdownlist_9" style="width: 100%;"><select
                    aria-hidden="true" tabindex="-1" class="e-ddl-hidden" name="null" id="ej2_dropdownlist_9_hidden">
                    <option selected="" value="none">Never</option>
                </select><input type="text" class="e-repeat-element e-control e-dropdownlist e-lib"
                    label="repeat-element" role="textbox" readonly="" id="ej2_dropdownlist_9" style="" title="Repeat"
                    aria-disabled="false" aria-label="Never" tabindex="-1" value="Never"><span
                    class="e-float-line"></span><label class="e-float-text e-label-top">Repeat</label><span
                    class="e-input-group-icon e-ddl-icon e-search-icon"></span></div>
        </div>
        <div class="e-input-wrapper e-interval e-form-right e-hide-recurrence-element">
            <table class="e-recurrence-table e-repeat-content-wrapper">
                <tbody>
                    <tr>
                        <td>
                            <div class="e-control-wrapper e-numeric e-float-input e-input-group e-valid-input"><input
                                    type="text" tabindex="0" class="e-repeat-interval e-control e-numerictextbox e-lib"
                                    title="Repeat Interval" role="spinbutton" autocomplete="off" aria-live="assertive"
                                    aria-valuemin="1" aria-valuemax="999" aria-valuenow="1" value="1"><input type="text"
                                    validatehidden="true" class="e-numeric-hidden" name=""><span
                                    class="e-float-line"></span><label class="e-float-text e-label-top">Repeat
                                    every</label><span class="e-input-group-icon e-spin-down" title="Decrement value"
                                    aria-label="Decrement value"></span><span class="e-input-group-icon e-spin-up"
                                    title="Increment value" aria-label="Increment value"></span></div>
                        </td>
                        <td><span class="e-repeat-content"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="e-input-wrapper-side e-days e-form-left e-hide-recurrence-element">
            <div class="e-week-expander-label">Repeat On</div><button type="button"
                class="e-round e-lib e-btn e-control" data-index="0" title="Sunday">S</button><button type="button"
                class="e-round e-lib e-btn e-control" data-index="1" title="Monday">M</button><button type="button"
                class="e-round e-lib e-btn e-control" data-index="2" title="Tuesday">T</button><button type="button"
                class="e-round e-lib e-btn e-control" data-index="3" title="Wednesday">W</button><button type="button"
                class="e-round e-lib e-btn e-control e-active e-primary" data-index="4"
                title="Thursday">T</button><button type="button" class="e-round e-lib e-btn e-control" data-index="5"
                title="Friday">F</button><button type="button" class="e-round e-lib e-btn e-control" data-index="6"
                title="Saturday">S</button>
        </div>
        <div class="e-input-wrapper-side e-non-week e-form-left e-hide-recurrence-element">
            <div class="e-month-expander-label">Repeat On</div>
            <div class="e-year-expander e-hide-recurrence-element">
                <div class="e-float-input e-control-wrapper e-no-float-label e-input-group e-ddl e-lib e-keyboard e-valid-input"
                    tabindex="0" aria-disabled="false" aria-owns="ej2_dropdownlist_13_options" role="listbox"
                    aria-haspopup="true" aria-expanded="false" aria-activedescendant="null"
                    aria-labelledby="ej2_dropdownlist_13_hidden" style="width: 100%;"
                    aria-describedby="ej2_dropdownlist_13"><select aria-hidden="true" tabindex="-1" class="e-ddl-hidden"
                        name="null" id="ej2_dropdownlist_13_hidden">
                        <option selected="" value="7">July</option>
                    </select><input class="e-year-expander-element e-control e-dropdownlist e-lib" type="text"
                        title="Year Expander" role="textbox" readonly="" id="ej2_dropdownlist_13" style=""
                        aria-disabled="false" aria-label="July" tabindex="-1" value="August"><span
                        class="e-float-line"></span><label class="e-float-text e-label-top"></label><span
                        class="e-input-group-icon e-ddl-icon e-search-icon"></span></div>
            </div>
            <div class="e-month-expander e-hide-recurrence-element">
                <table class="e-recurrence-table e-month-expand-wrapper">
                    <tbody>
                        <tr>
                            <td>
                                <div class="e-input-wrapper e-month-expander-checkbox-wrapper">
                                    <div class="e-radio-wrapper e-wrapper"><input
                                            class="e-month-expander-element e-control e-radio e-lib"
                                            title="Month Expander" type="radio" id="e-radio_15" name="monthType"
                                            value="day"><label for="e-radio_15"><span class="e-label">Day</span></label>
                                    </div>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="e-input-wrapper e-monthday-element"><span
                                        class="e-control-wrapper e-numeric e-input-group e-valid-input"><input
                                            type="text" tabindex="0"
                                            class="e-month-day e-control e-numerictextbox e-lib e-input"
                                            title="Month Expander" role="spinbutton" autocomplete="off"
                                            aria-live="assertive" aria-valuemin="1" aria-valuemax="31" aria-valuenow="9"
                                            value="1"><input type="text" validatehidden="true" class="e-numeric-hidden"
                                            name=""><span class="e-input-group-icon e-spin-down" title="Decrement value"
                                            aria-label="Decrement value"></span><span
                                            class="e-input-group-icon e-spin-up" title="Increment value"
                                            aria-label="Increment value"></span></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="e-input-wrapper e-month-expander-checkbox-wrapper"
                                    style="min-width: 30px;margin-bottom:18px;">
                                    <div class="e-radio-wrapper e-wrapper"><input
                                            class="e-month-expander-wrapper e-control e-radio e-lib"
                                            title="Month Expander" type="radio" id="e-radio_16" name="monthType"
                                            value="daypos"><label for="e-radio_16"></label></div>
                                </div>
                            </td>
                            <td>
                                <div class="e-input-wrapper e-week-position"><span
                                        class="e-input-group e-control-wrapper e-ddl e-lib e-keyboard e-valid-input"
                                        tabindex="0" aria-disabled="false" aria-owns="ej2_dropdownlist_11_options"
                                        role="listbox" aria-haspopup="true" aria-expanded="false"
                                        aria-activedescendant="null" aria-labelledby="ej2_dropdownlist_11_hidden"
                                        style="width: 100%;" aria-describedby="ej2_dropdownlist_11"><select
                                            aria-hidden="true" tabindex="-1" class="e-ddl-hidden" name="null"
                                            id="ej2_dropdownlist_11_hidden">
                                            <option selected="" value="2">Second</option>
                                        </select><input type="text"
                                            class="e-month-pos e-control e-dropdownlist e-lib e-input"
                                            title="Month Position" role="textbox" readonly="" id="ej2_dropdownlist_11"
                                            style="" aria-disabled="false" aria-label="Second" tabindex="-1"
                                            value="Second"><span
                                            class="e-input-group-icon e-ddl-icon e-search-icon"></span></span></div>
                            </td>
                            <td>
                                <div class="e-input-wrapper"><span
                                        class="e-input-group e-control-wrapper e-ddl e-lib e-keyboard e-valid-input"
                                        tabindex="0" aria-disabled="false" aria-owns="ej2_dropdownlist_12_options"
                                        role="listbox" aria-haspopup="true" aria-expanded="false"
                                        aria-activedescendant="null" aria-labelledby="ej2_dropdownlist_12_hidden"
                                        style="width: 100%;" aria-describedby="ej2_dropdownlist_12"><select
                                            aria-hidden="true" tabindex="-1" class="e-ddl-hidden" name="null"
                                            id="ej2_dropdownlist_12_hidden">
                                            <option selected="" value="TH">Thursday</option>
                                        </select><input type="text"
                                            class="e-month-week e-control e-dropdownlist e-lib e-input"
                                            title="Month Week" role="textbox" readonly="" id="ej2_dropdownlist_12"
                                            style="" aria-disabled="false" aria-label="Thursday" tabindex="-1"
                                            value="Monday"><span
                                            class="e-input-group-icon e-ddl-icon e-search-icon"></span></span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="e-input-wrapper-side e-end-on e-form-right e-hide-recurrence-element">
            <div class="e-end-on-label">End</div>
            <div class="e-input-wrapper e-end-on-left"><span
                    class="e-input-group e-control-wrapper e-ddl e-lib e-keyboard e-valid-input" tabindex="0"
                    aria-disabled="false" aria-owns="ej2_dropdownlist_10_options" role="listbox" aria-haspopup="true"
                    aria-expanded="false" aria-activedescendant="null" aria-labelledby="ej2_dropdownlist_10_hidden"
                    style="width: 100%;" aria-describedby="ej2_dropdownlist_10"><select aria-hidden="true" tabindex="-1"
                        class="e-ddl-hidden" name="null" id="ej2_dropdownlist_10_hidden">
                        <option selected="" value="never">Never</option>
                    </select><input type="text" class="e-end-on-element e-control e-dropdownlist e-lib e-input"
                        title="End" role="textbox" readonly="" id="ej2_dropdownlist_10" style="" aria-disabled="false"
                        aria-label="Never" tabindex="-1" value="Until"><span
                        class="e-input-group-icon e-ddl-icon e-search-icon"></span></span></div>
            <div class="e-input-wrapper e-end-on-date e-hide-recurrence-element"><span
                    class="e-input-group e-control-wrapper e-date-wrapper e-valid-input" style="width: 100%;"><input
                        type="text" class="e-until-date e-control e-datepicker e-lib e-input e-keyboard" title="Until"
                        id="ej2-datepicker_14" name="ej2-datepicker_14" aria-live="assertive" aria-atomic="true"
                        aria-haspopup="true" aria-activedescendant="null" aria-owns="ej2-datepicker_14_options"
                        aria-expanded="false" role="combobox" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="false" aria-invalid="false" aria-disabled="false" tabindex="0" value=""><span
                        class="e-clear-icon e-clear-icon-hide" aria-label="close" role="button"></span><span
                        class="e-input-group-icon e-date-icon e-icons" aria-label="select"></span></span></div>
            <div class="e-input-wrapper e-end-on-count e-hide-recurrence-element">
                <div class="e-control-wrapper e-numeric e-float-input e-no-float-label e-input-group e-valid-input">
                    <input type="text" tabindex="0" class="e-recurrence-count e-control e-numerictextbox e-lib"
                        title="Count" role="spinbutton" autocomplete="off" aria-live="assertive" aria-valuemin="1"
                        aria-valuemax="999" aria-valuenow="10" value="10"><input type="text" validatehidden="true"
                        class="e-numeric-hidden" name=""><span class="e-float-line"></span><label
                        class="e-float-text e-label-top"></label><span class="e-input-group-icon e-spin-down"
                        title="Decrement value" aria-label="Decrement value"></span><span
                        class="e-input-group-icon e-spin-up" title="Increment value"
                        aria-label="Increment value"></span></div>
            </div>
        </div>
    </div>
</div>"