<div style="width: 550px; height: 200px;">
  <div class="encabezado">
    Información Persona
  </div>
  <div class="contenido">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Nombre Completo:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{personaSeleccionado.nombreCompleto}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Correo:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{personaSeleccionado.correo}}
      </div>

    </div>


  </div>
</div>