.encabezado{
    font-size: 24px;
    border-bottom-style: double;
    border-bottom-color: #009688;
    margin-bottom: 25px;
}
.sugerencias{
    font-size: 19px;
    border-bottom-style: double;
    border-bottom-color: #0b2136;
    margin-bottom: 5px;
}
.alinear-derecha{
    text-align: right;
}
.alinear-centro{
    text-align: center;
}