<div style="width: 230px; height: 150px;">
  <div class="encabezado">
    Eliminar evento
  </div>
  <div>
    ¿Esta seguro de eliminar este evento?
  </div>
  <div class="row">
    <div class="col-6 alinear-centro">
      <button mat-stroked-button color="warn" (click)="eliminar()" >Eliminar</button>
    </div>
    <div class="col-6 alinear-centro">
      <button  mat-stroked-button (click)="cancelar()">Cancelar</button>
    </div>
    
   
  </div>
 
</div>