<div style="width: 550px; height: 200px;">
  <div class="encabezado">
    Información Materia
  </div>
  <div class="contenido">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Nombre:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{materiaSeleccionado.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Código:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{materiaSeleccionado.codigo}}
      </div>

    </div>


  </div>
</div>