

<nav class="navbar bg-custom navbar-expand-lg navbar-light navbar-custom" >
  <a style="color: white;" class="navbar-brand" href="#/app/principal">GESTIÓN DE LABORATORIOS FIS <span></span></a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon >table_rows</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="esAdministrador||esPasante">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GESTIÓN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/app','gestion','personal']"><mat-icon>account_circle</mat-icon> PERSONAL</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','usuarios']" *ngIf="esAdministrador"><mat-icon>assignment_ind</mat-icon> USUARIOS</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','laboratorios']"><mat-icon>store</mat-icon> LABORATORIOS</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','materias']"><mat-icon>card_travel</mat-icon> MATERIAS</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','software']"><mat-icon>android</mat-icon> SOFTWARE</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','ciclos']"><mat-icon>date_range</mat-icon> PERIODOS</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','parametros']"><mat-icon>extension</mat-icon> PARÁMETROS</a>
        </div>
      </li>
      
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HORARIOS Y RESERVAS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/app','gestion','horarios']" *ngIf="esAdministrador||esPasante"><mat-icon>calendar_today</mat-icon> HORARIOS RECURRENTES</a>
          <a class="dropdown-item" [routerLink]="['/app','gestion','reservas']"><mat-icon>book</mat-icon> RESERVACIÓN OCASIONAL</a>
        </div>
      </li>

      
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CONSULTAS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/app','consultas','calendario-actividades']"><mat-icon>calendar_today</mat-icon> CALENDARIO</a>
          <a class="dropdown-item" [routerLink]="['/app','consultas','horarios']"><mat-icon>search</mat-icon> CONSULTAR HORARIOS</a>
          <a class="dropdown-item" [routerLink]="['/app','consultas','reservas']"><mat-icon>book</mat-icon> CONSULTAR RESERVAS</a>
          <a class="dropdown-item" [routerLink]="['/app','consultas','reporteLogs']"  *ngIf="esAdministrador"><mat-icon>assessment</mat-icon> HISTORIAL DE RESERVAS</a>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-outline-light float-right" [routerLink]="['/app','mi-cuenta']" style="margin-right: 10px;"> <mat-icon>account_circle</mat-icon> {{nombreUsuario}}</button>
  <button class="btn btn-outline-danger float-right" (click)="cerrarSesion()"> <mat-icon>logout</mat-icon> Cerrar Sesión</button>
</nav>