
span{
    padding-right: 1rem;
}
.navbar{
    background-color: #0b2136;
    color: white;
}

.navbar-toggler{
    border-color:white;
    color: white;
}
.navbar-toggler:hover{
    background-color: white;
    color: black;
}
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.dropdown-item:hover{
    background-color:#70C4BB !important;
}

button>mat-icon{
    vertical-align: middle;
}

.btn-outline-danger{
    color: red;
    border-color:red;
}

.btn-outline-danger:hover{
    color: white;
    background-color: red;
}