<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE USUARIOS
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
    <div class="card-body text-center">
      <button mat-stroked-button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#crearUsuario"
        class="btn-crear">
        <i class="pi pi-plus-circle"></i>
        Nuevo Usuario</button>
      
    
      <p-table #dtUsuarios [columns]="columnas" [value]="usuarios" [responsive]="true" [paginator]="true" [rows]="10" [sortField]="'fkPersona.nombreCompleto'"
        [globalFilterFields]="['fkPersona.nombreCompleto','fkPersona.correo','fkPersona.fkTipoPersona']" [loading]="loading" >

        <ng-template pTemplate="caption" class="cabecera">
          <div class="row">
            <div class="input-group col-lg-8">
              
            </div>
            <div class="input-group col-lg-4">
              <input type="text" class="form-control" placeholder="Buscar..."
                (input)="dtUsuarios.filterGlobal($event.target.value, 'contains')"  >
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>
            </div>
           </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
           
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field"> 
              <input *ngSwitchCase="'fkPersona.nombreCompleto'"  pInputText type="text" (input)="dtUsuarios.filter($event.target.value, 'fkPersona.nombreCompleto', 'contains')" placeholder=" Buscar por Nombre" class="ui-column-filter-custom w-100">
              <input *ngSwitchCase="'fkPersona.correo'"  pInputText type="text" (input)="dtUsuarios.filter($event.target.value, 'fkPersona.correo', 'contains')" placeholder=" Buscar por Correo" class="ui-column-filter-custom w-100" >
              <input *ngSwitchCase="'fkPersona.fkTipoPersona'"  pInputText type="text" (input)="dtUsuarios.filter($event.target.value, 'fkPersona.fkTipoPersona', 'contains')" placeholder=" Buscar por Rol" class="ui-column-filter-custom w-100">
               </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
          <tr>
            <td>{{usuario.fkPersona.nombreCompleto}}</td>
            <td>{{usuario.fkPersona.correo}}</td>
            <td>{{usuario.fkPersona.fkTipoPersona}}</td>
            <td>{{usuario.estado}}</td>
            <td *ngIf="esAdministrador">
              <mat-slide-toggle [checked]="usuario.estado=='ACTIVO'" (click)="desactivarUsuario(usuario)"></mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5" style="text-align:left">No se han encontrado usuarios.</td>
          </tr>
      </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
</div>


<!--MODAL CREAR USUARIO-->
<div class="modal" id="crearUsuario">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Usuario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm"  [formGroup]="formCrearUsuario" >
            <div class="form-group">
              <label for="inputPersona">Elegir usuario a registrar:</label>
              <p-dropdown id="inputPersona" name="inputPersona" formControlName="inputPersona" [group]="true" [options]="auxListaPersonas" [filter]="true" [style]="{'width':'100%'}" placeholder="-- Elegir usuario --"></p-dropdown>
              
            </div>
          
        </form>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="registrarUsuario()" type="submit" class="btn btn-primary" [disabled]="!formCrearUsuario.valid" [disabled]="disableRegistrar">Registrar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Cancelar</button>
      </div>

    </div>
  </div>
</div>