


.contenedor{
    margin: 20px;
    margin-top: 40px;
}

.input-buscar{
    width: 80%;max-width: 300px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              bb
.cabecera::ng-deep{
   border-radius: 10px!important;
}