<div>
  <div class="opciones col-sm-12 col-md-12 ">
      <mat-card>
          <mat-card-title class="encabezado">

              <div class="encabezado">
                  CALENDARIO
              </div>
          </mat-card-title>
          <mat-card-content class="row contenido">
              <div class="row">

                  <div class="row col-lg-6">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="col-lg-12 col-md-12 columnaNombres">
                              <label for="ciclos">Seleccione un laboratorio:</label>
                          </div>
                          <div class="col-lg-12 col-md-12 columnaOpcion">
                              <p-dropdown #dropDownCiclo (onChange)="onChangeLaboratorio($event)"
                                  [(ngModel)]="laboratorioSeleccionado" [options]="auxListaLaboratorio"></p-dropdown>
                          </div>
                          <div class="centrarTexto">
                              <br>

                              <strong>Capacidad:</strong> {{laboratorioTemporal.capacidad}}

                          </div>
                         
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="col-lg-12 col-md-12 columnaNombres">
                              <label for="ciclos">Seleccione un periodo:</label>
                          </div>
                          <div class="col-lg-12 col-md-12 columnaOpcion">
                              <p-dropdown #dropDownCiclo (onChange)="onChangeCiclo($event)"
                                  [(ngModel)]="cicloSeleccionado" [options]="auxListaCiclos">
                              </p-dropdown>
                          </div>
                      </div>




                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="row col-lg-3 centrarTexto ">


                      <div class="col-lg-12 col-md-12 columnaOpcion ">
                          <strong> Información del periodo: </strong> <br> <br>
                          <strong> Nombre: </strong> {{cicloTempral?.nombre }} <br>
                          <strong> Fecha inicio: </strong> {{cicloTempral?.fechaInicio | date: 'dd/MMMM/yyy'}} <br>
                          <strong> Fecha fin: </strong> {{cicloTempral?.fechaFin | date: 'dd/MMMM/yyy' }} <br>
                      </div>




                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-lg-3">
                      <div class="col-lg-12 col-md-12 columnaOpcion ">
                          <strong> Simbología: </strong> <br> <br>
                          <div>
                              <mat-icon style="color: #009688;">label</mat-icon><span
                                  class="aligned-with-icon">RESERVA</span>
                              <br>
                              <br>
                              <mat-icon style="color: #0b2136;">label</mat-icon><span class="aligned-with-icon">
                                  HORARIO</span>
                          </div>

                      </div>

                  </div>
              </div>



          </mat-card-content>

      </mat-card>


  </div>

  <div class="calendario-container col-sm-12 col-md-12 ">
      

      <ejs-schedule [workHours]="scheduleHours" width='100%' [eventSettings]='eventSettings' locale='es' #scheduleObj
          (eventRendered)="oneventRendered($event)" cssClass='schedule-excel-export' 
          [showWeekend]="showWeekend" startHour='07:00' endHour='22:00' cssClass='schedule-cell-dimension'  [workDays]='workWeekDays'
          [timeScale]="timeScale" [showQuickInfo]='false' [readonly]="true"
          [selectedDate]='selectedDate'>
          <e-views>

              <e-view option='Week'></e-view>
              <e-view option='Month'></e-view>


          </e-views>
          <form>
              <ng-template #eventSettingsTemplate let-data>
                  <div class='wordwrap '>
                      <div class="subject">
                          <div style="width: 100%;">
                          {{data.Subject}}
                      </div>
                      </div>
                      <div class="profesor">{{this.profesor(data.profesor)}}</div>
                      <div class="fecha">{{getTimeString(data.StartTime)}} - {{getTimeString(data.EndTime)}}
                      </div>
                  </div>
              </ng-template>
              <ng-template #editorTemplate>
                  <table class="custom-event-editor" width="100%" cellpadding="5">
                      <tbody>

                          <tr>
                              <td class="e-textlabel">Nombre:</td>
                              <td class="centrar-texto">
                                  <input id="Subject" class="e-field e-input" type="text" value="John" name="Subject"
                                      style="width: 100%" />
                              </td>
                          </tr>
                          <tr [hidden]="true">
                              <td class="e-textlabel">Nombres:</td>
                              <td class="centrar-texto">
                                  <input id="laboratorio" class="e-field e-input" type="text" name="laboratorio"
                                      style="width: 100%" />
                                  <input id="idCiclo" class="e-field e-input" type="text" name="idCiclo"
                                      style="width: 100%" />
                                  <input id="idUsuario" class="e-field e-input" type="text" name="idUsuario"
                                      style="width: 100%" />
                                  <input id="ciclo" class="e-field e-input" type="text" name="ciclo"
                                      style="width: 100%" />
                                  <input id="ciclo" class="e-field e-input" type="text" name="ciclo"
                                      style="width: 100%" />
                                      
                              </td>
                          </tr>

                          <tr>
                              <td class="e-textlabel">Materia:</td>
                              <td colspan="4">
                                  <input type="text" id="materia" name="materia" class="e-field" style="width: 100%"
                                      required />
                              </td>
                          </tr>
                          <tr>
                              <td class="e-textlabel">Profesor:</td>
                              <td colspan="4">
                                  <input type="text" id="profesor" name="profesor" class="e-field" style="width: 100%"
                                      required />
                              </td>
                          </tr>
                          <!-- <tr>
                            <td class="e-textlabel">Ciclo:</td>
                            <td colspan="4">
                                <input type="text" id="ciclo" name="ciclo" class="e-field" style="width: 100%" />
                            </td>
                        </tr> -->
                          <tr>
                              <td class="e-textlabel">Desde:</td>
                              <td colspan="4">
                                  <input required id="StartTime" class="e-field" type="text" name="StartTime" />
                              </td>
                          </tr>
                          <tr>
                              <td class="e-textlabel">Hasta</td>
                              <td colspan="4">
                                  <input required id="EndTime" class="e-field" type="text" name="EndTime" />
                              </td>
                          </tr>

                          <tr>
                              <td colspan="4" [hidden]="false">
                                  <div id='RecurrenceEditor' [class.disabled]="false"></div>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </ng-template>
          </form>


      </ejs-schedule>
  </div>
</div>