<div class="principal">
  <mat-card class="login">
    <mat-card-title>
      <img src="../../assets/logoEpn.png" height="110px" alt="Not By Design" />
    </mat-card-title>
    <mat-card-subtitle class="subtitulo">
      Sistema de Gestión de Laboratorios de la FIS
    </mat-card-subtitle>
    <mat-card-content>
      <mat-tab-group id="mat-tab-group-login"  color="white">
        <mat-tab  label="Ingreso">
          <div class="matcontent">
            <form #loginForm [formGroup]="formLogin">
              <div class="inicioSesion">
                <mat-form-field  appearance="fill" class="input-login-mat example-full-width">
                  <mat-label class="formLabel">Correo electrónico</mat-label>
                  <input class=" login" formControlName="correo" matInput type="text">
                  <mat-error *ngIf="formLogin.controls['correo'].hasError('required')">
                    El correo no puede ser vacío.
                  </mat-error>
                  <mat-error *ngIf="formLogin.controls['correo'].hasError('pattern')">
                    Ingrese un correo válido.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="input-login-mat example-full-width">
                  <mat-label class="formLabel">Contraseña</mat-label>
                  <input class="login" formControlName="password" matInput [type]="showPassword ? 'text':'password'">
                  <mat-icon style="color: white;" (click)="mostrarContrasenia()" matSuffix>remove_red_eye</mat-icon>

                  <mat-error *ngIf="formLogin.controls['password'].hasError('required')">
                    La contraseña no puede ser vacía.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="text-center">

                <button [disabled]="!formLogin.valid||disableLoginButton" (click)="iniciarSesion()"
                  class="botonInciarSesion" mat-button>
                  <i class="pi pi-sign-in"></i>
                  Iniciar Sesión</button>
              </div>
              <div class="recuperarPass">
                <button class="botonRecuperarPass" type="button" data-toggle="modal" data-target="#recuperarPassword"
                  mat-button>Recuperar contraseña</button>
              </div><br>
              <mat-divider style="background-color: rgb(139, 138, 138);"></mat-divider>
              <div class="autores">
                Sistema creado como proyecto de titulación por:
                <br>
                Sofía Guerrero: sofi-0106@hotmail.com
                <br>
                Isaac Pilatuña: isapila1996@hotmail.com
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab class="loginMat" label="Registro" >
          <div class="matcontent">
            <form #registroForm [formGroup]="formRegistro">
              <mat-form-field color="accent" appearance="fill" class="m example-full-width">
                <mat-label class="formLabel">Correo electrónico</mat-label>
                <input style="color: white;" formControlName="correo" matInput type="text">
                <mat-error *ngIf="formRegistro.controls['correo'].hasError('required')">
                  El correo no puede ser vacío.
                </mat-error>
                <mat-error *ngIf="formRegistro.controls['correo'].hasError('pattern')">
                  Ingrese un correo válido.
                </mat-error>
              </mat-form-field>


              <div class="text-center">
                <button mat-button color="primary" type="submit" class="botonInciarSesion" (click)="registrarUsuario()"
                  [disabled]="!formRegistro.valid||disableRegisterButton">
                  <i class="pi pi-user-plus"></i>
                    Registrarse
                </button>
              </div>
            </form><br>
            <mat-divider style="background-color: rgb(139, 138, 138);"></mat-divider>
            <div class="autores">
              El sistema cuenta con un listado de las personas que tienen permitido el acceso.
              <br>
              En caso de requerir ingreso, enviar un mensaje al correo:
              <br>
              <a href="mailto:labfis@epn.edu.ec">labfis@epn.edu.ec</a>
            </div>
          </div>

        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>


<div class="modal" id="recuperarPassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <mat-progress-bar mode="indeterminate" [hidden]="!disableRecoverButton"></mat-progress-bar>

      <!-- Modal Header -->
      <div class="modal-header">
        <h3>Recuperar Contraseña</h3>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" [formGroup]="formRecuperacion">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input formControlName="correo" matInput type="text" style="color: black !important;">
            <mat-error *ngIf="formRecuperacion.controls['correo'].hasError('required')">
              El correo no puede ser vacío.
            </mat-error>
            <mat-error *ngIf="formRecuperacion.controls['correo'].hasError('pattern')">
              Ingrese un correo válido.
            </mat-error>
          </mat-form-field>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <small id="emailHelp" class="form-text text-muted">Se enviará un enlace a su correo electrónico para recuperar
          su contraseña</small>
        <button mat-button color="primary" type="submit" [disabled]='!formRecuperacion.valid||disableRecoverButton'
          (click)="recuperarPassword()">Enviar Correo</button>
        <button #cerrarModalRecuperacion mat-button color="warn" type="submit" data-dismiss="modal">Cancelar</button>

      </div>

    </div>
  </div>
</div>