
/*
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(0, 0, 0);
    background-color: rgba(97, 113, 165, 0.459);
    }
    
::ng-deep .mat-ink-bar {
background-color: var(--primary-color,#1F89CE) !important;
}*/
.principal{
  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(11, 33, 54, 0), rgba(11, 33, 54, 0.5)),url('/assets/fis.JPG');
  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    mat-card.login{
        background-color: rgba(0, 0, 0, 0.6);
        border-style: solid;
        border-width: 1px;
        border-color: #19360b;
        width: 100%;
        height: 95%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    mat-card.login{
        background-color: rgba(0, 0, 0, 0.6);
        border-style: solid;
        border-width: 1px;
        border-color: #19360b;
        width: 90%;
        height: 95%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    mat-card.login{
        background-color: rgba(0, 0, 0, 0.6);
        border-style: solid;
        border-width: 1px;
        border-color: #19360b;
        width: 80%;
        height: 85%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    mat-card.login{
        background-color: rgba(0, 0, 0, 0.6);
        border-style: solid;
        border-width: 1px;
        border-color: #19360b;
        width: 40%;
        height: 85%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    mat-card.login{
        background-color: rgba(0, 0, 0, 0.6);
        border-style: solid;
        border-width: 1px;
        border-color: #19360b;
        width: 38%;
        height: 85%;
    }
}

mat-card-title{
    text-align: center;
}
mat-card-subtitle.subtitulo{
    padding-top: 10px;
    padding-bottom: 10px ;
    color: white;
    text-align: center;
    font-size: 22px;
}
.matcontent{
    height: 100%;
    padding: 40px;
    padding-right: 40px ;
    padding-left: 40px ;
  
}

  

.formLabel{
    color: white;
}
/*
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white!important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
*/
.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    width: 50%!important;
}
mat-tab-group#mat-tab-group-login>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-tab-labels>.mat-tab-label-active>.mat-tab-label-content{
    color: white !important;
}
mat-tab-group#mat-tab-group-login>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-tab-labels>.mat-tab-label, .mat-tab-link{
    color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: rgba(0, 0, 0, 0.04);
        border-bottom-style: solid;
        border-color: white;
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;

    }

    .mat-button.mat-primary[disabled], .mat-button.mat-accent[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled] {
        color: rgba(0, 0, 0, 0.26);
        cursor: no-drop;
    }
.inicioSesion{
    margin-bottom: 15px;
}
.recuperarPass{
    margin-top: 12px;
    text-align: center;
    color: #9ddbd5;
    margin-bottom: 5px;
  
}
.botonRecuperarPass{
    font-size: 15px;
}
.botonInciarSesion{
    font-size: 20px;
    color: white;
}
.mat-button.mat-primary[disabled], .mat-button.mat-accent[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled] {
    
    color: rgba(255, 255, 255, 0.644);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s;
-webkit-text-fill-color: rgb(255, 248, 248) !important;
-webkit-box-shadow: 0 0 0 30px rgba(136, 128, 128, 0.096) inset !important;
box-shadow: 0 0 0 30px rgba(136, 128, 128, 0.096) inset !important;
}
.autores{
    color: rgb(202, 202, 202);
    text-align: center;
    margin-top: 10px ;
}



.mat-tab-label.mat-ripple:hover{
    background-color: #70C4BB;
    color:white !important;
}

.loginMat.mat-tab-label-content:hover{
    color:black !important;
} */
.mat-stroked-button:not([disabled]) {
    border-color: #0B2136!important;
    height: 44px;
}
.mat-stroked-button:hover {
    background-color: #70C4BB;
}

button.e-round.e-lib.e-btn.e-control[data-index="0"]{
    display: none !important;
}
@keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}
@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/0 0 0 50px white inset;
    box-shadow: /*your box-shadow*/0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 
.login.mat-tab-label.mat-ripple:hover{
    background-color: #70C4BB;
    color:white !important;
}
.login.mat-tab-label.mat-ripple:hover{
    background-color: #70C4BB;
    color:white !important;
}

