
<div style="width: 350px; height: 200px;">
  <div class="encabezado">
    Información Ciclo
  </div>
  <div class="contenido">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Nombre:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{cicloSeleccionado.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Fecha inicio:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{cicloSeleccionado.fechaInicio | date: 'dd/MMMM/yyy '}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-sm-4 nombreColumna">
        Fecha fin:
      </div>
      <div class="col-sm-12 col-md-8 col-sm-8 contenidoColumna">
        {{cicloSeleccionado.fechaFin | date: 'dd/MMMM/yyy '}}
      </div>
    </div>
 
  </div>
</div>