
.centrarTexto{
    text-align: center;
}

.opciones-card{
    padding: 2vw;
    width: 100%;
}
.opciones{
   margin-top: 10px;
   margin-bottom: 15px;
}
.encabezado{
    border-bottom-style: solid;
    border-bottom-color: #009688;
}
.seleccion{
    border-right-style:solid ;
    border-right-width: 2px;
    border-right-color: #009688;
}
.contenido{
    padding-top: 1vw ;
}
.columnaNombres{
    text-align: center;
}
.columnaOpcion{
    text-align: center;
}
.filtros{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #009688;
}
.filtros-container{
    margin-top: 50px;
}
.example-full-width {
    width: 100%;
  }
  .centrar-texto{
      text-align: center;
  }

   /* For Success state */
   /* .e-float-input.e-success label.e-float-text,
   .e-float-input.e-success input:focus ~ label.e-float-text,
   .e-float-input.e-success input:valid ~ label.e-float-text {
     color: #009688;
   } */

   /* For Warning state */
   .e-float-input.e-warning label.e-float-text,
   .e-float-input.e-warning input:focus ~ label.e-float-text,
  .e-float-input.e-warning input:valid ~ label.e-float-text {
     color: #ffca1c;
   }
   /* #RecurrenceEditor{
    pointer-events:none
   } */
     .e-tooltip-wrap.e-schedule-error { 
        top: 38px !important; 
        margin-left: 200px; 
    } 
    .e-tooltip-wrap.e-popup.e-schedule-error{
        top: 100.2px !important; 
        left: 189px !important; 
    }
    .e-tooltip-wrap.e-schedule-error {
        background-color: #64001b !important; 
        border-color: #2b55a5 !important; 
        z-index: 1000;
        padding: 0;
        margin: 0px;
    }
 