<script  src="/path/to/bootstrap-show-password.js"></script>

<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h3>Mi Cuenta</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="formAccount">

        
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Nombre completo</mat-label>
          <input formControlName="nombreCompleto" matInput type="text">
          <mat-error *ngIf="formAccount.controls['nombreCompleto'].hasError('required')">
            El nombre no puede ser vacío.
          </mat-error>
          <mat-error *ngIf="formAccount.controls['nombreCompleto'].hasError('pattern')">
            Ingrese un nombre  válido.
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Correo electrónico</mat-label>
          <input formControlName="correo" matInput type="text">
          <mat-error *ngIf="formAccount.controls['correo'].hasError('required')">
            El correo no puede ser vacío.
          </mat-error>
          <mat-error *ngIf="formAccount.controls['correo'].hasError('pattern')">
            Ingrese un correo válido.
          </mat-error>
        </mat-form-field>
          
          <div class="text-center">
            
            <button mat-button color="primary"  (click)="guardarCambios()" [disabled]="!formAccount.valid||disableSaveButton">
              <i class="pi pi-save"></i> 
                Guardar Cambios
              </button>
            </div>
      </form>
    </div>
    
    <div class="card-footer text-right">

      <button mat-button color="warn" [disabled]="!formAccount.valid||disableRecoverButton" (click)="cambiarClave()">
        <i class="pi pi-key"></i> 
          Cambiar clave
        </button>
  </div>
  </div>
</div>

