<div >
  
    <!-- <div *ngIf="!log"   >
      <app-login (logIn)="Enter($event)"  (nombre)="Nombre($event)" ></app-login>
    </div> -->
      <div >
        <router-outlet></router-outlet>
      </div>



  </div>