
<div style="width: 290px; height: 200px;">
  <div class="encabezado">
    Información Laboratorio
  </div>
  <div class="contenido">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-sm-6 nombreColumna">
        Nombre:
      </div>
      <div class="col-sm-12 col-md-6 col-sm-6 contenidoColumna">
        {{laboratrorioSeleccionado.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-sm-6 nombreColumna">
        Número:
      </div>
      <div class="col-sm-12 col-md-6 col-sm-6 contenidoColumna">
        {{laboratrorioSeleccionado.numero}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-sm-6 nombreColumna">
        Capacidad:
      </div>
      <div class="col-sm-12 col-md-6 col-sm-6 contenidoColumna">
        {{laboratrorioSeleccionado.capacidad}}
      </div>
    </div>
    
  </div>
</div>