<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE PERIODOS
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
    <div class="card-body text-center">
      <div class="margenBoton">
        <button mat-stroked-button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarPersona"
          class="btn-crear">
          <i class="pi pi-plus-circle"></i>
          Nuevo registro</button>
      </div>
      <br>
      <p-table #dt [columns]="columnas" [value]="ciclo" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre']">

        <ng-template pTemplate="caption">
          <div class="text-right row">
            <div class="input-group col-lg-8">

            </div>
            <div class="input-group col-lg-4">
              <input type="text" class="form-control" placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columnas">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ciclo>
          <tr>

            <td>{{ciclo.nombre}}</td>
            <td>{{ciclo.fechaInicio |  date:'dd/MM/yy'}}</td>
            <td>{{ciclo.fechaFin |  date:'dd/MM/yy'}} </td>
            <td>{{ciclo.estado}}</td>

            <td>
           
                <button mat-stroked-button (click)="abrirModalEditar(ciclo)" data-toggle="modal" data-target="#editarPersona"
                  class=" btn-edit" pTooltip="Editar datos de periodo" tooltipPosition="top">
                 <mat-icon>edit</mat-icon> </button>
            
            </td>
            <td>
              <mat-slide-toggle [checked]="ciclo.estado=='ACTIVO'" (click)="desactivarCiclo(ciclo)">
              </mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" style="text-align:left">No se han encontrado registros.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
</div>



<div class="modal" id="editarPersona">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form #myForm="ngForm" [formGroup]="formCrearCiclo">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre ciclo">
            <mat-error *ngIf="formCrearCiclo.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
          <div>
          <mat-form-field class="middle-width">
            <mat-label>Fecha Inicio</mat-label>
            <input readonly  formControlName="fechaInicio" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formCrearCiclo.controls['fechaInicio'].hasError('required')">
              Debe seleccionar una fecha de inicio.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="middle-width">
            <mat-label>Fecha Fin</mat-label>
            <input readonly  formControlName="fechaFin" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="formCrearCiclo.controls['fechaFin'].hasError('required')">
              Debe seleccionar una fecha de fin.
            </mat-error>
          </mat-form-field>
        </div>
      


        </form>

      </div>


      <div class="modal-footer">
        <button [disabled]="!this.formCrearCiclo.valid" (click)="guardarCiclo()" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>


 <!-- <img width="90%"   alt="homepage" src="../../assets/enConstruccion.jpg"> -->