<div class="contenedor">
  <div class="opciones col-sm-12 col-md-12 ">
    <mat-card>
      <mat-card-title class="encabezado">

        <div class="encabezado">
          REGISTRO DE ACTIVIDAD EN RESERVAS
        </div>
      </mat-card-title>
      <mat-card-content class="row contenido">
        <div class="opcionesCabecera">
        
        </div>
        <br>
        <div>
          <p-table  #dt [columns]="columnas" [value]="listaLogsReservasMapeada" [responsive]="true" [paginator]="true"
            [rows]="10" [globalFilterFields]="['idReserva', 'idUsuario.nombreCompleto']" [sortField]="'createdAt'" [sortOrder]="-1">

            <ng-template pTemplate="caption">

              <div class="row">
                <div class="input-group col-lg-8">
                  <a style="cursor: pointer" (click)="exportexcel()">
                    <mat-icon> cloud_download</mat-icon> Exportar a excel
                  </a>
                </div>
                <div class="input-group col-lg-4">
                  <input type="text" class="form-control" placeholder="Buscar..."
                    (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="text-center">
                <th *ngFor="let col of columns" [width]="col.width" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
              <tr>
                <td style="width: 10%;" >{{log.accion}}</td>
                <td>
                  <span *ngIf="log.anterior.tipo=='H'||log.actual.tipo=='H'">Horario</span>
                  <span *ngIf="log.anterior.tipo=='R'||log.actual.tipo=='R'">Reserva</span>
                </td>
                <td>{{parsearFecha(log.createdAt) | date: 'dd/MMMM/yyy HH:mm:ss'}}</td>
                <td style="text-align: left;">
                  <mat-expansion-panel  *ngIf='log.anterior != ""' style="padding: 0px;" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        Ver detalle: {{log.anterior.subject}}
                      </mat-panel-description>

                    </mat-expansion-panel-header>
                    <div>
                      <div>
                        <strong> Nombre: </strong> {{log.anterior.subject}} <br>
                        <strong> Inicio: </strong>{{log.anterior.fechaInicio | date: 'dd/MMMM/yyy HH:mm:ss' }} <br>
                        <strong> Fin: </strong> {{log.anterior.fechaFin | date: 'dd/MMMM/yyy HH:mm:ss'}} <br>
                        <strong>Ciclo:</strong> {{log.anterior.fkCiclo.nombre}} <mat-icon (click)="abrirModalInformacionCiclo(log.anterior.fkCiclo)">open_in_new</mat-icon> <br><br>
                        <strong>Laboratorio:</strong> {{log.anterior.fkLaboratorio.nombre}} <mat-icon (click)="abrirModalInformacionLaboratorio(log.anterior.fkLaboratorio)">open_in_new</mat-icon> <br>
                        <strong>A nombre de:</strong> {{log.anterior.fkPersonaReserva.nombreCompleto}} <mat-icon (click)="abrirModalInformacionPersona(log.anterior.fkPersonaReserva)">open_in_new</mat-icon> <br>
                        <strong>Materia:</strong> {{log.anterior.fkMateria.nombre}} <mat-icon (click)="abrirModalInformacionMateria(log.anterior.fkMateria)">open_in_new</mat-icon>

                      </div>

                    </div>
                  </mat-expansion-panel>
                </td>
                <td>
                  <mat-expansion-panel  *ngIf='log.actual != ""' style="padding: 0px;" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        Ver detalle: {{log.actual.subject}}
                      </mat-panel-description>

                    </mat-expansion-panel-header>
                    <div>
                      <div>
                        <strong> Nombre: </strong> {{log.actual.subject}} <br>
                        <strong> Inicio: </strong>{{log.actual.fechaInicio | date: 'dd/MMMM/yyy HH:mm:ss'}} <br>
                        <strong> Fin: </strong> {{log.actual.fechaFin | date: 'dd/MMMM/yyy HH:mm:ss'}} <br>
                        <strong>Ciclo:</strong> {{log.actual.fkCiclo.nombre}} <mat-icon (click)="abrirModalInformacionCiclo(log.actual.fkCiclo)">open_in_new</mat-icon> <br><br>
                        <strong>Laboratorio:</strong> {{log.actual.fkLaboratorio.nombre}} <mat-icon (click)="abrirModalInformacionLaboratorio(log.actual.fkLaboratorio)">open_in_new</mat-icon> <br>
                        <strong>A nombre de:</strong> {{log.actual.fkPersonaReserva.nombreCompleto}} <mat-icon (click)="abrirModalInformacionPersona(log.actual.fkPersonaReserva)">open_in_new</mat-icon> <br>
                        <strong>Materia:</strong> {{log.actual.fkMateria.nombre}} <mat-icon (click)="abrirModalInformacionMateria(log.actual.fkMateria)">open_in_new</mat-icon>

                      </div>

                    </div>
                  </mat-expansion-panel>
                </td>
              
                <td>{{log.idReserva}}</td>
                <td>{{log.idUsuario.nombreCompleto}}</td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" style="text-align:left">No se han encontrado registros.</td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<table id="excel-table" [hidden]="true"> 
  <tr>       
     <th>Creado:</th> 
     <th>Acción:</th>  
     <th> Actual:</th> 
     <th>Anterior:</th>   
     <th>Id reserva:</th>   
     <th>Id usuario:</th>   
  </tr>    
  <tr *ngFor="let sup of listaLogsReservasMapeada">

     <td>{{parsearFecha(sup.createdAt) | date: 'dd/MM/yyy HH:mm:ss'}}</td>  
     <td>{{ sup.accion }}</td> 
     <td>{{ parsearAJson(sup.actual) }}</td> 
     <td>{{ parsearAJson(sup.anterior) }}</td> 
     <td>{{ sup.idReserva }}</td> 
     <td>{{ sup.idUsuario.nombreCompleto }}</td> 
  </tr> 
</table>