<div style="width: 990px; height: 600px;">
  <div class="encabezado">
    Filtros laboratorio
  </div>

  <div>
    <form [formGroup]="formFiltro">
      <div class="row">
        <div class="col-md-4 text-center">
          <mat-form-field class="example-full-width">
            <input matInput type="number" formControlName="capacidad" placeholder="Capacidad" min="0" max="100" onkeyup="if(this.value > 128 || this.value < 0) this.value = 100;">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input formControlName="ram" matInput type="number" placeholder="Ram" min="0" max="128" onkeyup="if(this.value > 128 || this.value < 0) this.value = 128;">
          </mat-form-field>
        </div>
        <div class="col-md-4 text-center">
          <div>
            Sistemas operativos:
          </div>
          <div>

            <p-multiSelect [defaultLabel]="'Seleccione uno o más'" formControlName="sistemaOperativo" [style]="{'width':'80%'}"
              [options]="auxSistemasOperativos" [filter]="true">
            </p-multiSelect>
          </div>
          <div>
            Procesador:
          </div>
          <div>

            <p-multiSelect [defaultLabel]="'Seleccione uno o más'" formControlName="procesador" [style]="{'width':'80%'}"
              [options]="auxProcesador" [filter]="true">
            </p-multiSelect>
          </div>

        </div>
        <div class="col-md-4 text-center">
          <div >
            <div>
              Software necesario:
            </div>
            <p-multiSelect [defaultLabel]="'Seleccione uno o más'" formControlName="software" [style]="{'width':'80%'}"
              [options]="auxSoftware" [filter]="true">
            </p-multiSelect>
          </div>
        </div>
       
       
      </div>
    </form>
    <mat-divider ></mat-divider>
    <div class="col-12" style="text-align: center;">
      <button [disabled]="!this.formFiltro.valid" (click)="ejecutarFiltro()" class="boton-filtrar" mat-button>Ejecutar
        filtro</button>
    </div>
    <div>
      <div class="sugerencias">
        Sugerencias:
      </div>
      <div>
        <table mat-table [dataSource]="dataSource">
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
          <ng-container matColumnDef="laboratorio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Laboratorio </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreLaboratorio}} </td>
          </ng-container>
          <ng-container matColumnDef="capacidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </th>
            <td mat-cell *matCellDef="let element">
              {{element.capacidad}}
              <mat-icon class="cumple" *ngIf="element.cumpleCapacidad">check_circle_outline</mat-icon>
              <mat-icon class="noCumple" *ngIf="!element.cumpleCapacidad">highlight_off</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="ram">
            <th mat-header-cell *matHeaderCellDef> Ram </th>
            <td mat-cell *matCellDef="let element">
              {{element.ram}}
              <mat-icon class="cumple" *ngIf="element.cumpleRam">check_circle_outline</mat-icon>
              <mat-icon class="noCumple" *ngIf="!element.cumpleRam">highlight_off</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="sistemaOperativo">
            <th mat-header-cell *matHeaderCellDef> Sistema Operativo </th>
            <td mat-cell *matCellDef="let element" style="text-align: center; width: 250px;">

              <mat-expansion-panel
                style=" width: 230px;margin-top: 6px; margin-bottom: 6px; margin-left: 4px; margin-right: 3px;"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{element.sistemasOperativosIncluidos.length}}/{{this.formFiltro.value.sistemaOperativo.length}}
                    <mat-icon class="cumple" *ngIf="element.sistemasOperativos.length!=0">check_circle_outline
                    </mat-icon>
                    <mat-icon class="noCumple" *ngIf="element.sistemasOperativos.length==0">highlight_off</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Ver sistemas operativos
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <div [ngClass]="{}" *ngFor="let item of element.sistemasOperativosLaboratorio">
                  {{item}}
                </div>
              </mat-expansion-panel>


            </td>
          </ng-container>
          <ng-container matColumnDef="procesador">
            <th mat-header-cell *matHeaderCellDef> Procesador </th>
            <td mat-cell *matCellDef="let element">
              {{element.procesador}}
              <mat-icon class="cumple" *ngIf="element.cumpleProcesador">check_circle_outline</mat-icon>
              <mat-icon class="noCumple" *ngIf="!element.cumpleProcesador">highlight_off</mat-icon>
            </td>

          </ng-container>
          <ng-container matColumnDef="software">
            <th mat-header-cell *matHeaderCellDef> Software </th>
            <td mat-cell *matCellDef="let element" style="text-align: center; width: 250px;">

              <mat-expansion-panel
                style=" width: 210px;margin-top: 6px; margin-bottom: 6px; margin-left: 4px; margin-right: 3px;"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{element.softwareIncluidos.length}}/{{this.formFiltro.value.software.length}}
                    <mat-icon class="cumple" *ngIf="element.softwareIncluidos.length!=0">check_circle_outline
                    </mat-icon>
                    <mat-icon class="noCumple" *ngIf="element.softwareIncluidos.length==0">highlight_off</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Software instalado
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <div [ngClass]="{}" *ngFor="let item of element.softwareLaboratorio">
                  {{item}}
                </div>
              </mat-expansion-panel>


            </td>

          </ng-container>
          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">  <button (click)="seleccionarLaboratorio(element)" mat-button>Seleccionar <mat-icon>input</mat-icon></button></td>
          </ng-container>
        </table>
      </div>
    </div>


  </div>

</div>