.encabezado{
    font-size: 24px;
    border-bottom-style: double;
    border-bottom-color: #009688;
    margin-bottom: 25px;
}
.sugerencias{
    font-size: 19px;
    border-bottom-style: double;
    border-bottom-color: #0b2136;
    margin-bottom: 5px;
}
.alinear-derecha{
    text-align: right;
}
table {
    width: 100%;
  }
  .boton-filtrar{
      margin-top: 15px;
      background-color: #009688;
        color: rgb(241, 244, 247);
    }
    .cumple{
        color: #009688 ;
    }
    .noCumple{
        color: brown;
    }

    .mat-row:nth-child(even){
        background-color:rgb(242, 246, 248);
        }

 .mat-row:nth-child(odd){
        background-color:rgb(255, 255, 255);
        }
        
