
.calendario-container{
    padding-left: 10vw;
    padding-right: 10vw;
}

.opciones{
    margin-top: 10px;
    margin-bottom: 15px;
 }

 mat-card-content.calendario{
     margin-top: 20px;
 }

 @media only screen and (max-width: 600px) {
    .calendario-container{
        padding-left: 0vw;
        padding-right: 00vw;
    }
}
