<div>
  <div class="opciones col-sm-12 col-md-12 ">
      <mat-card>
          <mat-card-title class="encabezado">

              <div class="encabezado">
                 MI CALENDARIO
              </div>
          </mat-card-title>
          <mat-card-content  class="calendario">
            <div class="calendario-container col-sm-12 col-md-12 ">
                
          
                <ejs-schedule [workHours]="scheduleHours" width='100%' [eventSettings]='eventSettings' locale='es' #scheduleObj
                    (eventRendered)="oneventRendered($event)" cssClass='schedule-excel-export' 
                    [showWeekend]="showWeekend" startHour='07:00' endHour='22:00' cssClass='schedule-cell-dimension'  [workDays]='workWeekDays'
                    [timeScale]="timeScale" [showQuickInfo]='false' [readonly]="true"
                    [selectedDate]='selectedDate'>
                    <e-views>
          
                        <e-view option='Day'></e-view>
                        <e-view option='Week'></e-view>
          
          
                    </e-views>
                    <form>
                        <ng-template #eventSettingsTemplate let-data>
                            <div class='wordwrap '>
                                <div class="subject">
                                    <div style="width: 100%;">
                                    {{data.Subject}}
                                </div>
                                </div>
                                <div class="profesor">{{this.profesor(data.profesor)}}</div>
                                <div class="fecha">{{getTimeString(data.StartTime)}} - {{getTimeString(data.EndTime)}}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #editorTemplate>
                            <table class="custom-event-editor" width="100%" cellpadding="5">
                                <tbody>
          
                                    <tr>
                                        <td class="e-textlabel">Nombre:</td>
                                        <td class="centrar-texto">
                                            <input id="Subject" class="e-field e-input" type="text" value="John" name="Subject"
                                                style="width: 100%" />
                                        </td>
                                    </tr>
                                    <tr [hidden]="true">
                                        <td class="e-textlabel">Nombres:</td>
                                        <td class="centrar-texto">
                                            <input id="laboratorio" class="e-field e-input" type="text" name="laboratorio"
                                                style="width: 100%" />
                                            <input id="idCiclo" class="e-field e-input" type="text" name="idCiclo"
                                                style="width: 100%" />
                                            <input id="idUsuario" class="e-field e-input" type="text" name="idUsuario"
                                                style="width: 100%" />
                                            <input id="ciclo" class="e-field e-input" type="text" name="ciclo"
                                                style="width: 100%" />
                                            <input id="ciclo" class="e-field e-input" type="text" name="ciclo"
                                                style="width: 100%" />
                                                
                                        </td>
                                    </tr>
          
                                    <tr>
                                        <td class="e-textlabel">Materia:</td>
                                        <td colspan="4">
                                            <input type="text" id="materia" name="materia" class="e-field" style="width: 100%"
                                                required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Profesor:</td>
                                        <td colspan="4">
                                            <input type="text" id="profesor" name="profesor" class="e-field" style="width: 100%"
                                                required />
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                      <td class="e-textlabel">Ciclo:</td>
                                      <td colspan="4">
                                          <input type="text" id="ciclo" name="ciclo" class="e-field" style="width: 100%" />
                                      </td>
                                  </tr> -->
                                    <tr>
                                        <td class="e-textlabel">Desde:</td>
                                        <td colspan="4">
                                            <input required id="StartTime" class="e-field" type="text" name="StartTime" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Hasta</td>
                                        <td colspan="4">
                                            <input required id="EndTime" class="e-field" type="text" name="EndTime" />
                                        </td>
                                    </tr>
          
                                    <tr>
                                        <td colspan="4" [hidden]="false">
                                            <div id='RecurrenceEditor' [class.disabled]="false"></div>
          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </form>
          
          
                </ejs-schedule>
            </div>
          </mat-card-content>
      </mat-card>


  </div>

</div>