

.contenedor{
    margin: 20px;
    margin-top: 40px;
}
.modalEditar{
    height: 70vh;
    width: 50vw;
}
.example-full-width {
    width: 100%;
  }

.dialog-header{
    font-size: 1rem;
}

.input-buscar{
    width: 80%;max-width: 300px;
}
/* 
.card-body{
    background: rgb(48,48,124);
    background: linear-gradient(90deg, rgba(48,48,124,0.2) 0%, rgba(0,173,208,0.2) 50%, rgba(48,48,124,0.2) 100%);
} */

.btn-crear{
    margin-bottom: 1rem;
}