<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE MATERIAS
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
    <div class="card-body text-center">
      <button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarMateria"
        class="btn btn-success btn-crear">
        <i class="pi pi-plus-circle"></i>
        Nueva Materia</button>

      <p-table #dt [columns]="columnas" [value]="materias" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['codigo','fkCarrera.nombre','nombre']">

        <ng-template pTemplate="caption">
          
          
          <div class="row">
            <div class="input-group col-lg-8">

            </div>
            <div class="input-group col-lg-4">
              <input type="text" class="form-control" placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
           
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field"> 
              <input *ngSwitchCase="'nombre'"  pInputText type="text" (input)="dt.filter($event.target.value, 'nombre', 'contains')" placeholder="Buscar por Nombre" class="ui-column-filter-custom w-100">
              <input *ngSwitchCase="'codigo'"  pInputText type="text" (input)="dt.filter($event.target.value, 'codigo', 'contains')" placeholder="Buscar por Código" class="ui-column-filter-custom w-100">
              <p-dropdown  *ngSwitchCase="'fkCarrera.nombre'"  [options]="carrerasAux" (onChange)="dt.filter($event.value,'fkCarrera.nombre','contains')" [(ngModel)]="selectedCity1" [style]="{'width':'100%','border-color':'#70C4BB'}" placeholder="-- Buscar por Carrera --" editable="true" showClear="true" ></p-dropdown>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materia>
          <tr>
            <td>{{materia.codigo}}</td>
            <td>{{materia.nombre}}</td>
            <td>{{materia.fkCarrera.nombre}}</td>
            <td>{{materia.estado}}</td>
            <td>


              <button  mat-stroked-button (click)="abrirModalEditar(materia)" data-toggle="modal" data-target="#editarMateria"
                class="btn-edit" pTooltip="Editar datos de materia" tooltipPosition="top">
                <mat-icon>edit</mat-icon></button>


            </td>
            <td>
              <mat-slide-toggle [checked]="materia.estado=='ACTIVO'" (click)="desactivarMateria(materia)">
              </mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="6" style="text-align:left">No se han encontrado materias.</td>
          </tr>
      </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
</div>

<!-- Modal crear/editar materia -->
<div class="modal" id="editarMateria">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm" [formGroup]="formCrearMateria">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre" >
            <mat-error *ngIf="formCrearMateria.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Código:</mat-label>
            <input formControlName="codigo" matInput placeholder="Código" >
            <mat-error *ngIf="formCrearMateria.controls['codigo'].hasError('required')">
              El código no puede ser vacío.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Carrera:</mat-label>
            <mat-select formControlName="carrera">
              <mat-option *ngFor="let carrera of carreras"  [value]="carrera.id">
                {{carrera.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formCrearMateria.controls['carrera'].hasError('required')">
              Debe elegir una carrera.
            </mat-error>
          </mat-form-field>

        </form>
      
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="guardarMateria()" [disabled]="!formCrearMateria.valid" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>


<!-- <p-dialog  [(visible)]="displayEliminar" [modal]="true">
  <p-header class="dialog-header">
    Eliminar Materia
</p-header>
  ¿Desea eliminar a: "{{materiaTemporal.nombre}}" del registro?
  <p-footer>
    <button class="btn btn-danger" (click)="eliminarMateria()">Eliminar</button>
    <button class="btn btn-secondary" (click)="displayEliminar=false;clearMateria();">Cancelar</button>
  </p-footer>
  </p-dialog> -->