.example-full-width {
    width: 100%!important;
  }

  .input-buscar{
    width: 80%;max-width: 300px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              bb
.cabecera::ng-deep{
   border-radius: 10px!important;
}
.dropDowns{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100px;
}
.ui-dropdown    {
  width:100% !important;
}
.separador{
  margin-top: 10px;
  /* border-bottom-style: solid;
  border-bottom-color: #009688; */
  margin-bottom: 15px;
}
.margen-abajo{
 
  border-bottom-style: double;
  border-bottom-color: #009688;
  margin-bottom: 25px;
}