 <div class="contenedor">
  <div class="card">
    <div class="card-header text-center">
      <h2>Gestión de Laboratorio</h2>
    </div>
    <div class="card-body text-center">
      <button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarLaboratorio"
        class="btn btn-success btn-crear">
        <i class="pi pi-plus-circle"></i>
        Nuevo Laboratorio</button>

      <p-table #dt [columns]="columnas" [value]="listaLaboratorios" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre', 'numero']">

        <ng-template pTemplate="caption">
          <div class="text-right">
            <div class="input-group">

              <input type="text" class="input-buscar" placeholder="Buscar"
                (input)="dt.filterGlobal($event.target.value, 'contains')">
              <div class="input-group-prepend ">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-laboratorio>
          <tr>

            <td>{{laboratorio.nombre}}</td>
            <td>{{laboratorio.numero}}</td>
            <td>
              <button class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal"
                (click)="seleccionarVerSoftwareLaboratorio(laboratorio.arregloSoftwareLaboratorioCiclo, laboratorio)"
                pTooltip="Ver software del laboratorio {{laboratorio.nombre}}" tooltipPosition="top">
                <i class="pi pi-list"></i></button>
            </td>

            <td>

              <button (click)="abrirModalEditar(laboratorio)" data-toggle="modal" data-target="#editarLaboratorio"
                class="btn btn-outline-primary btn-edit" pTooltip="Editar datos de persona" tooltipPosition="top">
                <i class="pi pi-pencil"></i></button>




            </td>
            <td>
              <mat-slide-toggle [checked]="laboratorio.estado=='ACTIVO'" (click)="desactivarLaboratorio(laboratorio)">
              </mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>



<div class="modal" id="editarLaboratorio">
  <div class="modal-dialog">
    <div class="modal-content">

     
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

 
      <div class="modal-body">
        <form  [formGroup]="formCrearLaboratorio">


          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre completo" >
            <mat-error *ngIf="formCrearLaboratorio.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Número:</mat-label>
            <input formControlName="numero" matInput placeholder="Correo" >
            <mat-error *ngIf="formCrearLaboratorio.controls['numero'].hasError('required')">
              El número no puede ser vacío.
            </mat-error>
          </mat-form-field>
        </form>
      </div>

 
      <div class="modal-footer">
        <button (click)="guardarLaboratorio()" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

  
      <div class="modal-header">
        <h4 class="modal-title">Software laboratorio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>


      </div>


      <div class="modal-body ">
        <div>
          <h5>Elija un ciclo</h5>
          <p-dropdown [(ngModel)]="cicloSeleccionado" #dropDownCiclo  placeholder="Seleccione un ciclo" (onChange)="obtenerSoftwareDeLaboratorioPorCiclo($event)" [ngModel]="cicloSeleccionado" [options]="auxListaCiclos"></p-dropdown>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <legend>No intalados</legend>

            <p-table #dts [columns]="columnasLabSoftware" [value]="listaSoftwareNoInstalado" [responsive]="true"
              [paginator]="true" [rows]="10" [globalFilterFields]="['nombre']">

              <ng-template pTemplate="caption">
                <div class="text-right">
                  <div class="input-group">

                    <input type="text" class="input-buscar" placeholder="Buscar"
                      (input)="dts.filterGlobal($event.target.value, 'contains')">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="text-center">
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-softwareInstalado>
                <tr>

                  <td>{{softwareInstalado.nombre}}</td>
                  <td>
                    <button class="btn btn-outline-success" (click)="agregarSoftwareALaboratorio(softwareInstalado)"
                      pTooltip="Eliminar laboratorio  del registro" tooltipPosition="top">
                      <i class="pi pi-plus"></i></button>
                  </td>

                </tr>

              </ng-template>
            </p-table>
          </div>
          <div class="col-lg-6">
            <legend>Instalados</legend>
            <p-table #dts [columns]="columnasLabSoftware" [value]="listaSoftwareInstalado" [responsive]="true"
              [paginator]="true" [rows]="10" [globalFilterFields]="['nombre']">

              <ng-template pTemplate="caption">
                <div class="text-right">
                  <div class="input-group">

                    <input type="text" class="input-buscar" placeholder="Buscar"
                      (input)="dts.filterGlobal($event.target.value, 'contains')">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="text-center">
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-softwareInstalado>
                <tr>

                  <td>{{softwareInstalado.nombre}}</td>
                  <td>
                    <button class="btn btn-outline-danger" (click)="eliminarSoftwareDeLaboratorio(softwareInstalado)"
                      pTooltip="Eliminar laboratorio  del registro" tooltipPosition="top">
                      <i class="pi pi-minus"></i></button>
                  </td>

                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

    
      <div class="modal-footer">
     
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
