<div class="contenedor">
  <mat-card>
    <mat-card-title class="encabezado">

      <div class="encabezado">
        GESTIÓN DE LABORATORIOS
      </div>
    </mat-card-title>
    <mat-card-content class="row contenido">
    <div class="card-body text-center">
      <button mat-stroked-button (click)='abrirModalCrear()' icon="pi pi-info-circle" data-toggle="modal" data-target="#editarLaboratorio"
        class=" btn-crear">
        <i class="pi pi-plus-circle"></i>
        Nuevo Laboratorio</button>

      <p-table #dt [columns]="columnas" [value]="listaLaboratorios" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre', 'numero']">

        <ng-template pTemplate="caption">
          <div class="row">
            <div class="input-group col-lg-8">

            </div>
            <div class="input-group col-lg-4">
              <input type="text" class="form-control" placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
              </div>
            </div>
          </div>


        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-laboratorio>
          <tr>

            <td>{{laboratorio.nombre}}</td>
            <td>{{laboratorio.numero}}</td>
            <td>
              <button mat-stroked-button  data-toggle="modal" data-target="#myModal"
                (click)="seleccionarVerSoftwareLaboratorio(laboratorio.arregloSoftwareLaboratorioCiclo, laboratorio)"
                pTooltip="Ver software del laboratorio {{laboratorio.nombre}}" tooltipPosition="top">
                <mat-icon>list</mat-icon></button>
            </td>

            <td>

              <button mat-stroked-button (click)="abrirModalEditar(laboratorio)" data-toggle="modal" data-target="#editarLaboratorio"
                class=" btn-edit" pTooltip="Editar datos de persona" tooltipPosition="top">
                <mat-icon>edit</mat-icon> </button>




            </td>
            <td>
              <mat-slide-toggle [checked]="laboratorio.estado=='ACTIVO'" (click)="desactivarLaboratorio(laboratorio)">
              </mat-slide-toggle>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
</div>



<div class="modal" id="editarLaboratorio">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditar}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <form [formGroup]="formCrearLaboratorio">
          <div>

            <mat-form-field class="example-full-width">
              <mat-label>Nombre:</mat-label>
              <input formControlName="nombre" matInput placeholder="Nombre laboratorio">
              <mat-error *ngIf="formCrearLaboratorio.controls['nombre'].hasError('required')">
                El nombre no puede ser vacío.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Número:</mat-label>
              <input formControlName="numero" matInput placeholder="Número laboratorio">
              <mat-error *ngIf="formCrearLaboratorio.controls['numero'].hasError('required')">
                El número no puede ser vacío.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Capacidad:</mat-label>
              <input formControlName="capacidad" matInput placeholder="Capacidad">
              <mat-error *ngIf="formCrearLaboratorio.controls['capacidad'].hasError('required')">
                La capacidad no puede ser vacía.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="separador">

          </div>
          <div>
            <div class="margen-abajo">
              <h5>Características ordenadores</h5>
            </div>
            <mat-form-field class="example-full-width">
              <mat-label>Memoria RAM:</mat-label>
              <input formControlName="ram" matInput placeholder="Correo">
              <mat-error *ngIf="formCrearLaboratorio.controls['numero'].hasError('required')">
                Este campo no puede ser vacío.
              </mat-error>
            </mat-form-field>
            <div>
              Procesador:
            </div>
            <div class="dropDowns">

              <p-dropdown formControlName="procesador" [options]="auxListaProcesadores" [filter]="true"></p-dropdown>

            </div>
            <div>
              Sistema/s operativo/s:
            </div>
            <div class="example-full-width dropDowns">


              <p-multiSelect [defaultLabel]="'Seleccione uno o más'" formControlName="sistemaOperativo"
                [options]="auxListasistemasOperativos" [filter]="true">
              </p-multiSelect>

            </div>
          </div>

        </form>
      </div>


      <div class="modal-footer">
        <button [disabled]="formCrearLaboratorio.invalid" (click)="guardarLaboratorio()" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModal>Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Software laboratorio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>


      </div>


      <div class="modal-body ">
        <!-- <div>
          <h5>Elija un ciclo</h5>
          <p-dropdown [(ngModel)]="cicloSeleccionado" #dropDownCiclo  placeholder="Seleccione un ciclo" (onChange)="obtenerSoftwareDeLaboratorioPorCiclo($event)" [ngModel]="cicloSeleccionado" [options]="auxListaCiclos"></p-dropdown>
        </div> -->
        <div class="row">
          <div class="col-lg-6">
            <legend>No instalados</legend>

            <p-table #dts [columns]="columnasLabSoftware" [value]="listaSoftwareNoInstalado" [responsive]="true"
              [paginator]="true" [rows]="10" [globalFilterFields]="['nombre']">

              <ng-template pTemplate="caption">
                <div class="text-right">
                  <div class="input-group">

                    <input type="text" class="input-buscar" placeholder="Buscar"
                      (input)="dts.filterGlobal($event.target.value, 'contains')">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="text-center">
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-softwareInstalado>
                <tr>

                  <td>{{softwareInstalado.nombre}}</td>
                  <td>
                    <button class="btn btn-outline-success" (click)="agregarSoftwareALaboratorio(softwareInstalado)"
                      pTooltip="Eliminar laboratorio  del registro" tooltipPosition="top">
                      <i class="pi pi-plus"></i></button>
                  </td>

                </tr>

              </ng-template>
            </p-table>
          </div>
          <div class="col-lg-6">
            <legend>Instalados</legend>
            <p-table #dts [columns]="columnasLabSoftware" [value]="listaSoftwareInstalado" [responsive]="true"
              [paginator]="true" [rows]="10" [globalFilterFields]="['nombre']">

              <ng-template pTemplate="caption">
                <div class="text-right">
                  <div class="input-group">

                    <input type="text" class="input-buscar" placeholder="Buscar"
                      (input)="dts.filterGlobal($event.target.value, 'contains')">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="text-center">
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-softwareInstalado>
                <tr>

                  <td>{{softwareInstalado.nombre}}</td>
                  <td>
                    <button class="btn btn-outline-danger" (click)="eliminarSoftwareDeLaboratorio(softwareInstalado)"
                      pTooltip="Eliminar laboratorio  del registro" tooltipPosition="top">
                      <i class="pi pi-minus"></i></button>
                  </td>

                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>