<div class="contenedor">
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="GESTIÓN DE CARRERAS">
          <div class="card-body text-center">
            <button mat-stroked-button (click)='abrirModalCrearCarrera()' icon="pi pi-info-circle" data-toggle="modal" data-target="#crearCarrera"
              class=" btn-crear">
              <i class="pi pi-plus-circle"></i>
              Nueva Carrera</button>
          </div>
          <p-table #my class="tabla" #dtCarreras [columns]="columnasCarreras" [value]="carreras" [responsive]="true" [paginator]="true"
            [sortField]="'nombre'" [rows]="10"
            [globalFilterFields]="['nombre']">

            <ng-template class="cabecera" pTemplate="caption">
              <div class="row">
                <div class="input-group col-lg-8">

                </div>
                <div class="input-group col-lg-4">
                  <input type="text" class="form-control" placeholder="Buscar..."
                    (input)="dtCarreras.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                  </div>
                </div>
              </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="text-center">
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-carrera>
              <tr class="text-center">

                <td>{{carrera.nombre}}</td>
                <td>{{carrera.estado}}</td>
                <td>


                  <div>
                    <button mat-stroked-button (click)="abrirModalEditarCarrera(carrera)" data-toggle="modal" data-target="#crearCarrera"
                      class=" btn-edit" pTooltip="Editar información de la carrera" tooltipPosition="top">
                      <mat-icon>edit</mat-icon></button>
                  </div>

                </td>
                <td>
                  <mat-slide-toggle [checked]="carrera.estado=='ACTIVO'" (click)="desactivarCarrera(carrera)">
                  </mat-slide-toggle>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" style="text-align:left">No se han encontrado carreras.</td>
              </tr>
            </ng-template>
          </p-table>
        </mat-tab>

        <mat-tab label="GESTIÓN DE SISTEMAS OPERATIVOS">
          <div class="card-body text-center">
            <button mat-stroked-button (click)='abrirModalCrearSO()' icon="pi pi-info-circle" data-toggle="modal" data-target="#crearSistema"
              class=" btn-crear">
              <i class="pi pi-plus-circle"></i>
              Nuevo Sistema Operativo</button>
          </div>
          <p-table #my class="tabla" #dtSO [columns]="columnasSO" [value]="sistemasOperativos" [responsive]="true" [paginator]="true"
            [sortField]="'nombre'" [rows]="10"
            [globalFilterFields]="['nombre']">

            <ng-template class="cabecera" pTemplate="caption">
              <div class="row">
                <div class="input-group col-lg-8">

                </div>
                <div class="input-group col-lg-4">
                  <input type="text" class="form-control" placeholder="Buscar..."
                    (input)="dtSO.filterGlobal($event.target.value, 'contains')" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="pi pi-search"></i></span>
                  </div>
                </div>
              </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="text-center">
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sistema>
              <tr class="text-center">

                <td>{{sistema.nombre}}</td>
                <td>{{sistema.estado}}</td>
                <td>


                  <div>
                    <button  mat-stroked-button (click)="abrirModalEditarSO(sistema)" data-toggle="modal" data-target="#crearSistema"
                      class=" btn-edit" pTooltip="Editar información del Sistema Operativo" tooltipPosition="top">
                      <mat-icon>edit</mat-icon></button>
                  </div>

                </td>
                <td>
                  <mat-slide-toggle [checked]="sistema.estado=='ACTIVO'" (click)="desactivarSO(sistema)">
                  </mat-slide-toggle>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" style="text-align:left">No se han encontrado sistemas operativos.</td>
              </tr>
            </ng-template>
          </p-table>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>


<div class="modal" id="crearCarrera">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditarCarrera}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="myForm.reset()" [formGroup]="formCrearCarrera">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre de la Carrera:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre de la Carrera">
            <mat-error *ngIf="formCrearCarrera.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="guardarCarrera()" type="submit" class="btn btn-primary" [disabled]="!formCrearCarrera.valid">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModalCarrera>Close</button>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="crearSistema">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModalEditarSO}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="myForm.reset()" [formGroup]="formCrearSO">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre del Sistema Operativo:</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre del Sistema Operativo">
            <mat-error *ngIf="formCrearSO.controls['nombre'].hasError('required')">
              El nombre no puede ser vacío.
            </mat-error>
          </mat-form-field>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="guardarSO()" type="submit" class="btn btn-primary" [disabled]="!formCrearSO.valid">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModalSO>Close</button>
      </div>

    </div>
  </div>
</div>