
  .schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
  .schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
      height: 100px;
  }
  
  
  .schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
      height: 200px;
  }

  .schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
  .schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
      height: 50px!important;
  }
  
  
  .schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
      height: 50px!important;
  }

button.e-round.e-lib.e-btn.e-control[data-index="0"]{
    display: none !important;
}

button.e-control.e-btn.e-lib.e-quick-alertok.e-flat.e-primary.e-quick-dialog-occurrence-event{
    display:none !important;
}

button.e-control.e-btn.e-lib.e-quick-alertok.e-flat.e-primary.e-quick-dialog-alert-btn{
    display:none !important;

}

.e-btn.e-flat.e-primary:focus {
    background-color: rgba(22, 227, 210, 0.12);
    color: #009688;
}
.e-btn.e-flat.e-primary:hover {
    background-color: rgba(22, 227, 210, 0.12);
    color: #009688;
}
.e-btn.e-flat.e-primary {
    color: #009688;
}

.e-round.e-lib.e-btn.e-control.e-active.e-primary{
    background-color: #009688;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text, .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: #009688;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #009688;
}



.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #009688; }

.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after {
  background: #009688; }


.e-input:focus:not(.e-success):not(.e-warning):not(.e-error),
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input {
  border-color: #009688; }




.e-outline.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error),
.e-outline.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: #009688;
  box-shadow: inset 1px 1px #009688, inset -1px 0 #009688, inset 0 -1px #009688; }

  .e-more-popup-wrapper .e-more-event-date-header .e-current-date {
    color: #009688; }

    .e-btn.e-flat.e-primary,
    .e-css.e-btn.e-flat.e-primary {
      background-color: transparent;
      border-color: transparent;
      color: #009688; }
      .e-btn.e-flat.e-primary:hover,
      .e-css.e-btn.e-flat.e-primary:hover {
        background-color: rgba(0, 150, 136, 0.04);
        border-color: transparent;
        color: #009688; }
      .e-btn.e-flat.e-primary:focus,
      .e-css.e-btn.e-flat.e-primary:focus {
        background-color: rgba(0, 150, 136, 0.12);
        border-color: transparent;
        color: #009688; }
      .e-btn.e-flat.e-primary:active, .e-btn.e-flat.e-primary.e-active,
      .e-css.e-btn.e-flat.e-primary:active,
      .e-css.e-btn.e-flat.e-primary.e-active {
        background-color: rgba(0, 150, 136, 0.24);
        border-color: transparent;
        color: #009688; }
        .e-btn.e-primary,
        .e-css.e-btn.e-primary {
          background-color: #009688;
          border-color: transparent;
          color: #fff; }
          .e-btn.e-primary:hover,
          .e-css.e-btn.e-primary:hover {
            background-color: #1fa396;
            border-color: transparent;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            color: #fff; }
          .e-btn.e-primary:focus,
          .e-css.e-btn.e-primary:focus {
            background-color: #3dafa5;
            border-color: transparent;
            color: #fff;
            outline: #fafafa 0 solid;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
          .e-btn.e-primary:active,
          .e-css.e-btn.e-primary:active {
            background-color: #52b8ae;
            border-color: transparent;
            color: #fff;
            outline: #fafafa 0 solid;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
          .e-btn.e-primary.e-active,
          .e-css.e-btn.e-primary.e-active {
            background-color: #52b8ae;
            border-color: transparent;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            color: #fff; }
            
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #009688; }

.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after {
  background: #009688; }


.e-input:focus:not(.e-success):not(.e-warning):not(.e-error),
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input {
  border-color: #009688; }

  .e-tab.e-fill.e-focused .e-tab-header .e-toolbar-item .e-tab-wrap:focus .e-tab-icon,
  .e-tab.e-fill.e-focused .e-tab-header .e-toolbar-item .e-tab-wrap:focus .e-tab-text,
  .e-tab.e-fill.e-focused .e-tab-header .e-toolbar-item .e-tab-wrap:focus .e-close-icon {
    color: #009688; }
    .e-radio:checked + label::before {
        background-color: #fff;
        border-color: #009688; }
      
      .e-radio:checked + label::after {
        background-color: #009688;
        color: #009688; }
        .e-radio:checked:focus + label::before {
            border-color: #009688; }
          
          .e-radio:checked:focus + label::after {
            background-color: #009688; }
          
          .e-radio:checked + label:hover::before {
            border-color: #009688; }
          
          .e-radio:checked + label:hover::after {
            background-color: #009688; }
            .e-switch-wrapper .e-switch-on,
            .e-css.e-switch-wrapper .e-switch-on {
              background-color: #009688;
              color: #fff; }
              .e-chip-list.e-selection .e-chip.e-active {
                background-color: #009688;
                border-color: transparent;
                color: #fff; }
                .e-chip-list.e-selection .e-chip.e-active .e-chip-icon,
                .e-chip-list.e-selection .e-chip.e-active .e-chip-delete {
                  color: #fff; }
                .e-chip-list.e-selection .e-chip.e-active .e-chip-avatar {
                  background-color: #005951;
                  color: #fff; }
                .e-chip-list.e-selection .e-chip.e-active.e-focused {
                  background-color: #00d3bf;
                  border-color: transparent;
                  color: #fff; }
                  .e-chip-list.e-selection .e-chip.e-active.e-focused .e-chip-icon,
                  .e-chip-list.e-selection .e-chip.e-active.e-focused .e-chip-delete {
                    color: #fff; }
                  .e-chip-list.e-selection .e-chip.e-active.e-focused .e-chip-avatar {
                    background-color: #009688;
                    color: #fff; }
                    #profesor_Error{
                        top: 76px !important; 
                          margin-left: 80px ;
                      }
                      #materia_Error{
                        top: 32px !important; 
                        margin-left: 80px ;
                      }
                      #Subject_Error{
                        left: 76px !important;
                        top: 124px !important; 
                        margin-left: 80px ;
                      }
                      
.e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top,
.e-float-input.e-small.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text,
.e-small .e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top,
.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top,
.e-float-input.e-small.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text
.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text,
.e-small .e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top,
.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text
.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-small .e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input ~ label.e-float-text {
  color: #009688; }
  .e-outline.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error),
.e-outline.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: #009688;
  box-shadow: inset 1px 1px #009688, inset -1px 0 #009688, inset 0 -1px #009688; }
  
.e-outline.e-float-input.e-input-group.e-valid-input.e-input-focus label.e-label-top,
.e-outline.e-float-input.e-input-group.e-input-focus label.e-label-top,
.e-outline.e-float-input.e-control-wrapper.e-input-group.e-valid-input.e-input-focus label.e-label-top,
.e-outline.e-float-input.e-control-wrapper.e-input-group.e-input-focus label.e-label-top {
  color: #009688; }
  .e-filled.e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text,
.e-filled.e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text,
.e-filled.e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-filled.e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-filled.e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-small .e-filled.e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-small.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-small .e-filled.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-filled.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text,
.e-bigger .e-filled.e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input ~ label.e-float-text {
  color: #009688; }
  
.e-btn.e-flat.e-primary:focus {
    background-color: rgba(22, 227, 210, 0.12);
    color: #009688;
}
.e-btn.e-flat.e-primary:hover {
    background-color: rgba(22, 227, 210, 0.12);
    color: #009688;
}
.e-btn.e-flat.e-primary {
    color: #009688;
}

.e-round.e-lib.e-btn.e-control.e-active.e-primary{
    background-color: #009688;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text, .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: #009688;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #009688;
}
.e-dropdown-popup {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87); }
    .e-dropdown-popup ul .e-item .e-menu-url {
      color: rgba(0, 0, 0, 0.87); }
    .e-dropdown-popup ul .e-item .e-menu-icon {
      color: rgba(0, 0, 0, 0.87); }
    .e-dropdown-popup ul .e-item.e-focused {
      background-color: #e0e0e0;
      box-shadow: none; }
    .e-dropdown-popup ul .e-item:hover {
      background-color: #e0e0e0;
      color: rgba(0, 0, 0, 0.87); }
    .e-dropdown-popup ul .e-item:active, .e-dropdown-popup ul .e-item.e-selected {
      background-color: #bdbdbd;
      color: rgba(0, 0, 0, 0.87); }
      .e-dropdown-popup ul .e-item:active .e-menu-url, .e-dropdown-popup ul .e-item.e-selected .e-menu-url {
        color: rgba(0, 0, 0, 0.87); }
      .e-dropdown-popup ul .e-item:active .e-menu-icon, .e-dropdown-popup ul .e-item.e-selected .e-menu-icon {
        color: rgba(0, 0, 0, 0.87); }
    .e-dropdown-popup ul .e-separator {
      border-bottom-color: rgba(0, 0, 0, 0.12); }
      .e-dropdown-btn,
.e-dropdown-btn.e-btn {
  box-shadow: none;
  text-transform: none;
  white-space: normal; }
  .e-dropdown-btn:hover, .e-dropdown-btn:focus,
  .e-dropdown-btn.e-btn:hover,
  .e-dropdown-btn.e-btn:focus {
    box-shadow: none; }
  .e-dropdown-btn:active,
  .e-dropdown-btn.e-btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .e-dropdown-btn .e-btn-icon,
  .e-dropdown-btn.e-btn .e-btn-icon {
    font-size: 14px; }
  .e-dropdown-btn .e-caret,
  .e-dropdown-btn.e-btn .e-caret {
    font-size: 8px; }
  .e-dropdown-btn.e-vertical,
  .e-dropdown-btn.e-btn.e-vertical {
    line-height: 1;
    padding: 12px 12px; }
  .e-dropdown-btn.e-caret-hide .e-caret,
  .e-dropdown-btn.e-btn.e-caret-hide .e-caret {
    display: none; }
  .e-dropdown-btn.e-small, .e-dropdown-btn.e-btn.e-small.e-dropdown-popup ul {
    padding: 8px 0; }
    .e-dropdown-btn.e-small .e-item, .e-dropdown-btn.e-btn.e-small.e-dropdown-popup ul .e-item {
      padding: 0 16px; }
  .e-dropdown-btn.e-small.e-vertical,
  .e-dropdown-btn.e-btn.e-small.e-vertical {
    line-height: 1;
    padding: 12px 12px; }

.e-bigger .e-dropdown-btn .e-btn-icon,
.e-bigger.e-dropdown-btn .e-btn-icon {
  font-size: 16px; }

.e-bigger .e-dropdown-btn .e-caret,
.e-bigger.e-dropdown-btn .e-caret {
  font-size: 10px; }

.e-bigger .e-dropdown-btn.e-vertical,
.e-bigger.e-dropdown-btn.e-vertical {
  line-height: 1;
  padding: 16px 16px; }

.e-bigger .e-dropdown-btn.e-small.e-vertical,
.e-bigger.e-dropdown-btn.e-small.e-vertical {
  line-height: 1;
  padding: 16px 16px; }

.e-dropdown-popup {
  position: absolute; }
  .e-dropdown-popup ul {
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    min-width: 120px;
    overflow: hidden;
    padding: 8px 0;
    user-select: none;
    white-space: nowrap; }
    .e-dropdown-popup ul .e-item {
      cursor: pointer;
      display: flex;
      height: 36px;
      line-height: 36px;
      padding: 0 16px; }
      .e-dropdown-popup ul .e-item .e-menu-url {
        display: inline-block;
        text-decoration: none; }
      .e-dropdown-popup ul .e-item .e-menu-icon {
        float: left;
        font-size: 14px;
        line-height: 36px;
        margin-right: 10px;
        vertical-align: middle;
        width: 1em; }
      .e-dropdown-popup ul .e-item.e-disabled {
        cursor: auto;
        pointer-events: none; }
      .e-dropdown-popup ul .e-item.e-separator {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        cursor: auto;
        height: auto;
        line-height: normal;
        margin: 8px 0;
        pointer-events: none; }

.e-rtl.e-dropdown-popup .e-item .e-menu-icon {
  float: right;
  margin-left: 10px;
  margin-right: 0; }

.e-bigger .e-dropdown-popup ul,
.e-bigger.e-dropdown-popup ul {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-size: 15px;
  max-width: 280px;
  min-width: 112px;
  padding: 8px 0; }
  .e-bigger .e-dropdown-popup ul .e-item,
  .e-bigger.e-dropdown-popup ul .e-item {
    height: 48px;
    line-height: 48px;
    padding: 0 16px; }
    .e-bigger .e-dropdown-popup ul .e-item .e-menu-icon,
    .e-bigger.e-dropdown-popup ul .e-item .e-menu-icon {
      font-size: 16px;
      line-height: 48px; }
    .e-bigger .e-dropdown-popup ul .e-item.e-separator,
    .e-bigger.e-dropdown-popup ul .e-item.e-separator {
      height: auto;
      line-height: normal; }
      .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active {
        background-color: #eee;
        color: #009688; }
      .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active.e-hover {
        background-color: #eee;
        color: #009688; }
        





      
        
        .e-bigger .e-daterangepicker.e-rtl.e-popup .e-range-header .e-start-end .e-end-btn,
        .e-bigger.e-daterangepicker.e-rtl.e-popup .e-range-header .e-start-end .e-end-btn,
        .e-device.e-daterangepicker.e-rtl.e-popup .e-range-header .e-start-end .e-end-btn {
          border: 1px solid #009688;
          border-radius: 2px 0 0 2px;
          border-right: 0; }
        
     
        
        /*! daterangepicker theme */
        .e-date-range-wrapper .e-input-group-icon.e-icons.e-active {
          color: #009688; }
        
        .e-date-range-wrapper.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
          color: #009688; }
        
    
            .e-daterangepicker.e-popup .e-calendar .e-content.e-month .e-today.e-range-hover span,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-content.e-month .e-today.e-range-hover span {
              background-color: #eee;
              border: 1px solid #009688;
              color: #009688; }
  
            .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-today:hover span.e-day,
            .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-focused-date.e-today span.e-day,
            .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-start-date.e-selected.e-today span.e-day,
            .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-end-date.e-selected.e-today span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-today:hover span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-focused-date.e-today span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-start-date.e-selected.e-today span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-end-date.e-selected.e-today span.e-day {
              border: 1px solid #009688; }
            .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-selected.e-today:hover span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-range-hover.e-selected.e-today:hover span.e-day {
              border: 1px solid #009688; }
         
            .e-daterangepicker.e-popup .e-calendar .e-end-date.e-selected.e-range-hover span.e-day,
            .e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-end-date.e-selected.e-range-hover span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover span.e-day {
              background-color: #009688;
              color: #fff; }
            .e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover.e-today span.e-day,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover.e-today span.e-day {
              background-color: #009688;
              color: #fff; }
        
            .e-daterangepicker.e-popup .e-presets .e-list-item.e-active,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-presets .e-list-item.e-active {
              background-color: #fff;
              color: #009688; }
            .e-daterangepicker.e-popup .e-presets .e-list-item.e-hover,
            .e-bigger.e-small .e-daterangepicker.e-popup .e-presets .e-list-item.e-hover {
              background-color: #eee;
              color: rgba(0, 0, 0, 0.87); }
      
          .e-bigger .e-daterangepicker .e-start-btn.e-active,
          .e-bigger .e-daterangepicker .e-start-btn.e-active:active,
          .e-bigger .e-daterangepicker .e-end-btn.e-active,
          .e-bigger .e-daterangepicker .e-end-btn.e-active:active:not([disabled]),
          .e-bigger .e-daterangepicker .e-start-btn.e-active:hover,
          .e-bigger .e-daterangepicker .e-end-btn.e-active:hover,
          .e-bigger.e-daterangepicker .e-start-btn.e-active,
          .e-bigger.e-daterangepicker .e-start-btn.e-active:active,
          .e-bigger.e-daterangepicker .e-end-btn.e-active,
          .e-bigger.e-daterangepicker .e-end-btn.e-active:active:not([disabled]),
          .e-bigger.e-daterangepicker .e-start-btn.e-active:hover,
          .e-bigger.e-daterangepicker .e-end-btn.e-active:hover,
          .e-device.e-daterangepicker .e-start-btn.e-active,
          .e-device.e-daterangepicker .e-start-btn.e-active:active,
          .e-device.e-daterangepicker .e-end-btn.e-active,
          .e-device.e-daterangepicker .e-end-btn.e-active:active:not([disabled]),
          .e-device.e-daterangepicker .e-start-btn.e-active:hover,
          .e-device.e-daterangepicker .e-end-btn.e-active:hover {
            background: #009688;
            color: #fff; }
        
        /*! component icons */
     
        
        /*! datetimepicker theme */
        .e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
          color: #009688; }
        
        .e-datetime-wrapper.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
          color: #009688; }
        
        .e-datetimepicker.e-popup {
          border: none;
          border-radius: 2px;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
          .e-datetimepicker.e-popup .e-list-parent.e-ul {
            background-color: #fff; }
            .e-datetimepicker.e-popup .e-list-parent.e-ul li.e-list-item {
              border: none;
              color: rgba(0, 0, 0, 0.87); }
            .e-datetimepicker.e-popup .e-list-parent.e-ul .e-list-item.e-hover,
            .e-datetimepicker.e-popup .e-list-parent.e-ul .e-list-item.e-navigation,
            .e-datetimepicker.e-popup .e-list-parent.e-ul .e-list-item:focus {
              background-color: #eee;
              border: none;
              color: #000; }
            .e-datetimepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active {
              background-color: #eee;
              color: #009688; }
            .e-datetimepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active.e-hover {
              background-color: #eee;
              color: #009688; }
        
    
          .e-listview .e-list-item.e-focused .e-checkbox-wrapper .e-frame.e-check,
          .e-listview .e-list-item.e-focused .e-css.e-checkbox-wrapper .e-frame.e-check {
            background-color: #009688;
            border-color: transparent;
            color: #fff; }
     
          .e-dropdownbase .e-list-item.e-active,
          .e-dropdownbase .e-list-item.e-active.e-hover {
            background-color: #eee;
            border-color: #fff;
            color: #009688; }
          .e-dropdownbase .e-list-item.e-hover {
            background-color: #eee;
            border-color: #fff;
            color: rgba(0, 0, 0, 0.87); }
          .e-dropdownbase .e-list-item:last-child {
            border-bottom: 0; }
          .e-dropdownbase .e-list-item.e-item-focus {
            background-color: #eee; }
        
       
        
        .e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active,
        .e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active.e-hover {
          background-color: #eee;
          border-color: #fff;
          color: #009688; }
        
  
        .e-dropdownbase .e-list-item.e-active.e-hover {
          color: #009688; }
        
    
        
        .e-float-input.e-input-group.e-ddl.e-control.e-icon-anim > .e-float-text,
        .e-float-input.e-input-focus.e-input-group.e-ddl.e-control.e-keyboard > .e-float-text {
          color: #009688; }
        
  
          .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chipcontent {
            background-color: #009688;
            color: #fff;
            padding: 12px 4px 11px 0; }
          .e-multi-select-wrapper .e-searcher.e-zero-size:not(.e-multiselect-box) {
            width: 0; }
            .e-multi-select-wrapper .e-searcher.e-zero-size:not(.e-multiselect-box) input[type='text'] {
              height: 1px;
              min-height: 1px; }
          .e-multi-select-wrapper .e-chips.e-mob-chip > .e-chipcontent {
            max-width: 100%; }
        
     
.e-small .e-upload .e-upload-files .e-file-remove-btn.e-icons,
.e-small .e-upload .e-upload-files .e-file-delete-btn.e-icons,
.e-small .e-upload .e-upload-files .e-file-abort-btn.e-icons,
.e-small .e-upload .e-upload-files .e-file-reload-btn.e-icons,
.e-small .e-upload .e-upload-files .e-file-play-btn.e-icons,
.e-small .e-upload .e-upload-files .e-file-pause-btn.e-icons {
  font-size: 10px;
  height: 24px;
  padding: 12px;
  width: 24px; }

.e-small .e-upload.e-rtl .e-file-select-wrap {
  padding: 16px 12px 16px 0; }

.e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list {
  min-height: 35px;
  padding-bottom: 10px;
  padding-top: 6px; }
  .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container {
    top: 0; }
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-hidden-input {
      display: none; }
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-name,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-type {
      line-height: 1.5;
      padding-top: 4px; }
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-name.e-error,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-type.e-error,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-status.e-error {
      color: #f44336; }
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-status,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list .e-file-container .e-file-information {
      color: rgba(0, 0, 0, 0.54);
      display: block;
      font-size: 11px;
      line-height: 1.5;
      padding-bottom: 0;
      padding-top: 4px;
      position: relative; }
  .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list.e-file-invalid {
    color: #f44336; }
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list.e-file-invalid .e-file-name,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list.e-file-invalid .e-file-type,
    .e-small .e-upload.e-form-upload .e-upload-files .e-upload-file-list.e-file-invalid .e-file-status {
      color: #f44336; }


  .e-calendar .e-content.e-year td.e-selected:hover span.e-day,
  .e-calendar .e-content.e-decade td.e-selected:hover span.e-day,
  .e-bigger.e-small .e-calendar .e-content.e-year td.e-selected:hover span.e-day,
  .e-bigger.e-small .e-calendar .e-content.e-decade td.e-selected:hover span.e-day {
    background-color: #009688; }
  .e-calendar .e-content.e-year td > span.e-day,
  .e-calendar .e-content.e-decade td > span.e-day,
  .e-bigger.e-small .e-calendar .e-content.e-year td > span.e-day,

  .e-calendar .e-content td.e-today span.e-day,
  .e-calendar .e-content td.e-focused-date.e-today span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: none;
    border: 1px solid #009688;
    border-radius: 50%;
    color: #009688; }
  .e-calendar .e-content td.e-focused-date.e-today span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: #eee;
    border: 1px solid #009688;
    color: #009688; }
  .e-calendar .e-content td.e-today:focus span.e-day,
  .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today:focus span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
    background-color: #eee;
    border: none;
    border-radius: 50%;
    color: #009688; }
  .e-calendar .e-content td.e-today:hover span.e-day,
  .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
  .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today:hover span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
    background-color: #eee;
    border: 1px solid #009688;
    color: #009688; }
  .e-calendar .e-content td.e-today.e-selected span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: #009688;
    border: 1px solid #009688;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff; }
 
  .e-calendar .e-content td.e-selected span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: #009688;
    border: none;
    border-radius: 50%;
    color: #fff; }
  .e-calendar .e-content .e-footer,
  .e-bigger.e-small .e-calendar .e-content .e-footer {
    color: #009688; }
  
/*! timepicker theme */
.e-time-wrapper .e-input-group-icon.e-icons.e-active {
  color: #009688; }

.e-time-wrapper.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
  color: #009688; }

.e-timepicker.e-popup {
  border: none;
  border-radius: 2px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .e-timepicker.e-popup .e-list-parent.e-ul {
    background-color: #fff; }
    .e-timepicker.e-popup .e-list-parent.e-ul li.e-list-item {
      border: none;
      color: rgba(0, 0, 0, 0.87); }
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-disabled {
      color: rgba(0, 0, 0, 0.38);
      opacity: 1;
      pointer-events: none;
      touch-action: none; }
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-hover,
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-navigation,
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item:focus {
      background-color: #eee;
      border: none;
      color: #000; }
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active {
      background-color: #eee;
      color: #009688; }
    .e-timepicker.e-popup .e-list-parent.e-ul .e-list-item.e-active.e-hover {
      background-color: #eee;
      color: #009688; }


.e-datepicker .e-model-header {
  background-color: #009688;
  color: #fff;
  cursor: default;
  display: block;
  padding: 10px 10px 10px 15px; }
  .e-datepicker .e-model-header .e-model-year {
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    margin: 0; }



.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
  color: #009688; }

.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
  color: #009688; }


    .e-bigger .e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn,
    .e-bigger .e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn,
    .e-bigger.e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn,
    .e-bigger.e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn,
    .e-device.e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn,
    .e-device.e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn {
      border: 1px solid #009688;
      box-shadow: none;
      font-size: 14px;
      font-weight: 500;
      height: 36px;
      line-height: 34px;
      max-width: 116px;
      overflow: hidden;
      padding: 1px 6px;
      text-overflow: ellipsis;
      width: 50%; }
   
      .e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
        background: #0B2136;
        border: 1px solid #e8eaf6;
        border-radius: 2px;
        color: #fff;
        overflow: hidden;
        position: absolute;
    }
    .e-input-group .e-input-group-icon:not(:last-child), .e-input-group.e-control-wrapper .e-input-group-icon:not(:last-child) {
      border-right-width: 0;
      display: none;
  }
  .e-clear-icon .e-clear-icon-hide{
    display: none;
  }
.mensajeInformativo{
  text-align: center!important;
  padding: 0px 4px 0px 4px!important ;
  margin-bottom: 0px!important;
}


.e-input-group-icon.e-time-icon.e-icons{
  position: absolute;
  width: 100%;
  padding-right: 0 !important;
  text-align: right !important;
  align-items: flex-end !important;
}

#RecurrenceEditor.e-control.e-lib.e-recurrenceeditor>div.e-editor>div.e-input-wrapper.e-interval.e-form-right{
  visibility: hidden  !important;
}


#RecurrenceEditorHorario.e-control.e-lib.e-recurrenceeditor>div.e-editor>div.e-input-wrapper.e-interval.e-form-right{
  display: none !important;
}

#RecurrenceEditorHorario.e-control.e-lib.e-recurrenceeditor>div.e-editor>div.e-input-wrapper-side.e-end-on.e-form-right{
  display: none !important;
}









