<div class="container-recuperacion">
  <div class="card" style="max-width: 600px;margin:auto;">
    
    <mat-progress-bar mode="indeterminate" [hidden]="!disableRecoverButton"></mat-progress-bar>
    <div class="card-header text-center">
     <h3>Recuperación de contraseña</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="password">Contraseña nueva:</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text':'password'" id="password" class="form-control" [(ngModel)]="password"
              name="password" placeholder="Contraseña nueva">
            <div class="input-group-append">
              <button *ngIf="!showPassword" (click)="showPassword=true" type="button" class="btn btn-outline-secondary"
                pTooltip="Mostrar Contraseña" tooltipPosition="top">
                <i class="pi pi-eye"></i>
              </button>
              <button *ngIf="showPassword" (click)="showPassword=false" type="button" class="btn btn-outline-secondary"
                pTooltip="Ocultar Contraseña" tooltipPosition="top">
                <i class="pi pi-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirmar contraseña:</label>
          <div class="input-group">
            <input [type]="showPasswordConfirm ? 'text':'password'" id="passwordConfirm" class="form-control"
              [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="Confirmar contraseña">
              <div class="input-group-append">
                <button *ngIf="!showPasswordConfirm" (click)="showPasswordConfirm=true" type="button" class="btn btn-outline-secondary"
                  pTooltip="Mostrar Contraseña" tooltipPosition="top">
                  <i class="pi pi-eye"></i>
                </button>
                <button *ngIf="showPasswordConfirm" (click)="showPasswordConfirm=false" type="button" class="btn btn-outline-secondary"
                  pTooltip="Ocultar Contraseña" tooltipPosition="top">
                  <i class="pi pi-eye-slash"></i>
                </button>
              </div>

          </div>
        </div>
        <small id="passwordInfo" class="form-text text-muted">La contraseña debe tener al menos 7 caracteres.</small><br>

        <div class="text-center">

          <button mat-button color="primary" [disabled]="password.length<7 || passwordConfirm.length<7 || disableRecoverButton" (click)="guardarPassword()">
            <i class="pi pi-save"></i>
            <strong>
              Confirmar
            </strong>
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer">

      <a mat-button color="primary" class="float-right"  [routerLink]="['/login']">
        <i class="pi pi-home"></i>
        <strong>
          Ir al Inicio de Sesión
        </strong>
      </a>
    </div>
  </div>
</div>