@import './assets/schedule-material.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 
.mat-form-field-placeholder {
    display:block !important;
    }

    .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
        background-color: #009688!important;
        color: #ffffff!important;
    }
    .btn-crear{
        margin-bottom: 1rem;
        background-color: #FFFFFF;
        color: #0B2136;
        border-color: #0B2136;
    }
    .btn-success:focus, .btn-success.focus {
        background-color: #FFFFFF!important;
        color: #0B2136!important;
        border-color: #0B2136!important;
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }
    .btn-success:hover, .btn-success.hover {
        background-color: #FFFFFF!important;
        color: #0B2136!important;
        border-color: #0B2136!important;
        box-shadow: 0 0 0 0.2rem #009688;
        
    }
/* COLORES PRIME NG BOTONES */
.btn-outline-primary {
    color: #0B2136;
    border-color: #0B2136;
}

.btn-outline-primary {
    color: #0B2136;
     border-color: #0B2136; 
}
/* .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #009688;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #a6b1a8;
} */

/* COLOR LETRA SNAK */
.fuente_snack{
    font-size: 20px;
    color: #c1d3c4;
}



.example-full-width {
    width: 100%;
  }

  
  .profesor{
      font-size: 11px;
  }
  .fecha{
    font-size: 9px;
  }
  .wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

 /* ------------------TABLAS------------------------ */
 body .ui-table .ui-table-caption {
    border-bottom: 0 none;
    font-weight: 700;
    border-color: white;
    background: white;
    border-radius: 0px!important;
    /* background-color: #009688;
    color: rgb(241, 244, 247); */
    /* border-radius: 10px; */
}
body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em!important;
    border: white!important;
    font-weight: 700!important;
    color: #0B2136!important;
    background-color: white!important;
    border-bottom: 1px solid  #c8c8c8!important ;
    border-top: 1px solid  #c8c8c8!important ;
}
body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit; 
     border: 0px solid white;
}
body .ui-paginator {
  
    border-top: 1px solid #c8c8c8!important ;
    border-right: 1px solid #f1f0f0!important ;
    border-left: 1px solid #f1f0f0!important ;
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0;
}

.encabezado{
    border-bottom-style: solid;
    border-bottom-color: #009688;
}
.contenedor{
    margin-top: 10px;
   margin-bottom: 15px;
   margin: 15px;
    
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #ffffff;
    background-color: #009688;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem #009688;
}
.mat-expansion-panel-body {
    padding: 0 15px 8px !important;
} 
.ui-sortable-column-icon {
    color: black !important;
}
.ui-column-filter-custom{
    border-width: 1px !important;
    border-color:#70C4BB !important; 
    border-radius: 7px !important;
    line-height: 32px !important;
}

.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    width: 50%!important;
}

.mat-tab-label.mat-ripple{
    opacity: 1 !important;
}

.mat-tab-label-active>.mat-tab-label-content{
    color:black !important;
}

.mat-tab-label-active{
    background-color: #70c4bc41;
}


.mat-tab-label-content:hover{
    color:black !important;
} */
.mat-stroked-button:not([disabled]) {
    border-color: #0B2136!important;
    height: 44px;
}
.mat-stroked-button:hover {
    background-color: #70C4BB;
}

.input-login-mat mat-label {
    color: white;
  
  }
  
  .input-login-mat .mat-input-element {
    color: white;
  
  }
  
  .input-login-mat .mat-input-element::placeholder {
    color: white;
    
  }

  