@import "../node_modules/@angular/material/theming";
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/highcontrast-light.css';

@include mat-core();
$my-primary: mat-palette($mat-teal, 500);
$my-accent: mat-palette($mat-teal, 500);
$my-app-warn:    mat-palette($mat-red, 300);
$my-theme: mat-light-theme($my-primary,  $my-accent, $my-app-warn);

@include angular-material-theme($my-theme)

