
.centrarTexto{
    text-align: center;
}

.opciones-card{
    padding: 2vw;
    width: 100%;
}
.opciones{
   margin-top: 10px;
   margin-bottom: 15px;
}
.encabezado{
    border-bottom-style: solid;
    border-bottom-color: #009688;
}
.contenido{
    padding-top: 1vw ;
}
.columnaNombres{
    text-align: center;
}
.columnaOpcion{
    text-align: center;
}
.filtros{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #009688;
}
.filtros-container{
    margin-top: 50px;
}
.example-full-width {
    width: 100%;
  }
  .centrar-texto{
      text-align: center;
  }

   /* For Success state */
   /* .e-float-input.e-success label.e-float-text,
   .e-float-input.e-success input:focus ~ label.e-float-text,
   .e-float-input.e-success input:valid ~ label.e-float-text {
     color: #009688;
   } */

   /* For Warning state */
   .e-float-input.e-warning label.e-float-text,
   .e-float-input.e-warning input:focus ~ label.e-float-text,
  .e-float-input.e-warning input:valid ~ label.e-float-text {
     color: #ffca1c;
   }
   /* #RecurrenceEditor{
    
   } */
   .e-input-wrapper .e-end-on-date{
    pointer-events:none
   }
 
     .e-tooltip-wrap.e-schedule-error { 
        top: 38px !important; 
        margin-left: 200px; 
    } 
    .e-tooltip-wrap.e-popup.e-schedule-error{
        top: 100.2px !important; 
        left: 189px !important; 
    }
    .e-tooltip-wrap.e-schedule-error {
        background-color: #64001b !important; 
        border-color: #2b55a5 !important; 
        z-index: 1000;
        padding: 0;
        margin: 0px;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        -webkit-transition: background-color 5000s;
        transition: background-color 5000s;
        -webkit-text-fill-color: rgba(65, 65, 65, 0.219) !important;
        -webkit-box-shadow: 0 0 0 30px rgb(238, 234, 234) inset !important;
        box-shadow: 0 0 0 30px rgb(238, 234, 234) inset !important;
    }

    

    