<!-- 
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
      <mat-nav-list>
          <a mat-list-item [routerLink]="['usuarios']" (click)="opened=!opened">First Component</a>
          <a mat-list-item [routerLink]="['personas']" (click)="opened=!opened">Second Component</a>
        </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet>
          <button (click)="opened=!opened">OPEN</button>
      </router-outlet>
   
  </mat-sidenav-content>
  <mat-sidenav-content>main</mat-sidenav-content>
</mat-sidenav-container>
<p>
  
    software works!
    <span><a [routerLink]="['usuarios']">Tracks</a></span>
    <router-outlet></router-outlet>
  </p> --> 
  
  <router-outlet></router-outlet>